@font-face {
    font-family: 'Poppins-header';
    src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-medium';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
  margin: 0;
}
header {
  flex: 1 1 1;
  background-image: url("heatmap.png");
  background-size: contain;
  background-repeat: repeat-y;
  height: 100vh;
  width: 66.84vh;
}
.sidebar {
  font-family: 'Poppins-header', sans-serif;
  font-weight: 700;
  margin-top: 15vh;
  padding: 1em;
  text-align: center;
  background-color: rgba(150, 150, 150, 0.5);
}
main {
  font-family: 'Poppins-medium', sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(0.15turn, #C0EFA6, #71C639, #A7C4BE);
  height: 100vh;
}
.welcome {
  padding-inline: clamp(1em, 1.5em + 5vh, 4em);
  flex: 2;
  padding-top: 20px;
  font-size: 1.15em;
}
.registration {
  padding-inline: clamp(1em, 1.5em + 5vh, 4em);
  flex: 2;
  background: linear-gradient(#71C639, #A7C4BE);
  box-shadow: 10px 10px;
  font-size: 1.15em;
  padding-block: 1em;
  box-shadow: 0 3px 17px rgb(33, 33, 33);
}
.login {
  padding-inline: clamp(1em, 1.5em + 5vh, 4em);
  flex: 1;
  padding-top: 20px;
}
.registration-fields {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}
button,
label,
input,
select,
progress,
meter {
  appearance: none;
  flex: 1;
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 2px;
  box-sizing: border-box;
  padding: 5px;
  height: 30px;
}

input {
  background-color: #8EC07C;
  border-radius: 8px;
  border: 1px solid #144e12;
}
input:focus {
  outline: none;
  appearance: none;
  border: 1px solid #2EB329;
  background-color: #88CD6F;
}

button {
  color: #F9FAF8;
  background-color: #144e12;
  padding: 10px 32px;
  border: 3px white;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 8px;
  height: auto;
}

a {
  color: #144e12;
  text-decoration: none;
}
