#content-auth {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}

.sidebar-auth {
  display: block;
  flex: 1 1 auto;
  background-image: var(--auth-heatmap);
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-color: #efefef;
  width: min(66.84vh, 100vw);

  &-header {
    margin-block: 10%;
    text-align: center;
    padding: 1em;
    background-color: var(--transparent-bg-color);
  }
}

.registration-container {
  flex: 10 1 auto;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 5px;
  background: linear-gradient(
    var(--gradient-color-2),
    var(--gradient-color-1) 50% 50%,
    var(--gradient-color-2)
  );
  width: min(500px, 100%);
  color: var(--landing-text-color);
}

.auth-intro {
  max-width: 75ch;
  padding-inline: 2em;
  flex: 2;
  padding-top: 20px;
}

.paragraph {
  margin-block: 1em;
}

.registration {
  padding-inline: 2em;
  flex: 2;
  background: var(--main-background-color);
  padding-block: 1em;
  box-shadow: 0 0 16px 8px var(--landing-border-color);
}

.login-ref {
  padding: 1em 2em;

  & > a {
    width: min-content;
    color: var(--signature-color);
    text-decoration: none;
    white-space: nowrap;
  }
}

.registration-fields {
  max-width: 70ch;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.registration-fields > div {
  flex: 1 1 300px;
}

.registration-field {
  width: 100%;
  height: 36px;
  background-color: var(--registration-field-bg-color);
  border-radius: 10px;
  border: 1px solid var(--signature-color);
  padding: 5px 10px;

  &.password-field {
    padding: 5px 40px 5px 10px;
  }

  &:focus {
    background-color: var(--registartion-field-active-bg-color);
  }

  &:invalid {
  }

  &:valid {
    background-color: var(--registartion-field-active-bg-color);
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.registration-error {
  color: var(--form-error-color);
  margin: 15px;
}

.icon-password {
  height: 27px;
  width: 27px;
  margin-left: -36px;
  z-index: 2;
}
