@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  &.overflow-visible {
    overflow: visible;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
}

body,
html {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.05em;
  color: var(--text-color);
  background-color: var(--support-background-color);
}

body {
  min-height: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  box-sizing: border-box;
  // outline: none;
  appearance: none;
  border: none;
  display: block;
  background-color: inherit;
}

input, textarea {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ul li,
ul ul li {
  text-indent: 0;
  list-style: none outside none;
}

li {
  height: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
