.heatmap-weekdays {
  display: inline-flex;
  flex-direction: column;
  grid-area: weekdays;

  &-weekday {
    line-height: 100%;
    font-size: calc((var(--cell-height) + 4px) * var(--multiplier) - 4px + 1px);
    height: calc((var(--cell-height) + 4px) * var(--multiplier) - 4px);
    font-weight: 600;
    border: 1px solid transparent;
    margin: 2px;
    vertical-align: middle;
    text-align: right;

    &.same-weekday {
      color: var(--signature-color);
      border-radius: 0px;
    }
  }
}

.heatmap-months {
  direction: ltr;
  display: flex;
  grid-area: months;

  &-month {
    width: var(--cell-width);
    height: var(--cell-height);
    line-height: 100%;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
    margin: 2px;
    visibility: hidden;

    &.active:last-child {
      visibility: hidden;
    }

    &.active {
      visibility: visible;

      &:has(+ .active) {
        visibility: hidden;
      }
    }

    &.same-month {
      visibility: visible;
      color: var(--signature-color);
    }

    &.arrow {
      padding-inline: 2px;
    }
  }
}

.overview-days {
  --multiplier: 1;
  display: inline-flex;
  flex-direction: row;
  grid-area: days;

  &-day {
    line-height: 100%;
    font-size: calc(11px * var(--multiplier) + 11px * 2 * (var(--multiplier) - 1) + 1px);
    text-align: center;
    padding-block: 2px;
    border-radius: 3px;
    height: 15px;
    width: 15px;
    font-weight: 600;
    margin: 2px;
    vertical-align: middle;

    &.today {
      box-shadow: 0px 0px 4px 2px var(--signature-color);
      border-radius: 3px;
    }

    &.weekend {
      color: var(--bright-signature-color);
    }
  }
}

.dates-container {
  direction: ltr;
  grid-area: date;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  @media (max-width: 380px) {
    & > button:not(.left) {
      margin-left: -8px;
    }

    & > button.left {
      margin-right: -13px;
    }
  }
}

.dates-period {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  box-shadow: 0px 0px 4px 2px var(--signature-color);
  border-radius: 6px;
  height: 23px;

  &-picker {
    width: 120px;
    font-size: 15px;
    cursor: pointer;
  }

  & input {
    width: 120px;
    font-size: 15px;
    cursor: pointer;
    padding: 0px 0px 0px 25px;
  }

  @media (max-width: 450px) {
    flex-wrap: wrap;
    height: min-content;

    &-picker {
      width: 115px;
      padding: 0;
    }
  }
}

.dates-period-footer {
  padding-top: 5px;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@keyframes glow {
  0% {
    background-color: var(--calm-signature-color);
  }
  50% {
    // The color itself doesn't matter, it won't appear as white/black.
    // the resulting effect is transition to 0 background opacity
    background-color: rgb(255, 255, 255, 0);
  }
  100% {
    background-color: var(--calm-signature-color);
  }
}

.overview-centering.slide_date-indicators {
  .dates-container > button > .icon {
    border-radius: 50%;
    animation: glow 3s linear infinite;
  }
  & .overview-habit-button {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide_date-pickers {
  .dates-period {
    animation: glow 3s linear infinite;

    & button > .icon {
      border-radius: 6px;
      animation: glow 3s linear infinite;
    }
  }
  & .overview-habit-button {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide_habit-datum {
  & .overview-habit-button:nth-child(n + 2) {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide_habit-data {
  & .overview-habit-button:not(:nth-child(6n + 2)) {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide_habit-targets {
  & .overview-habit-button:not(:nth-child(6n + 3)) {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide_final {
  & .overview-habit-button {
    pointer-events: none;
    opacity: 0.3;
  }
}

.habit-controls {
  width: min-content;
  display: grid;
  align-items: center;
  align-self: center;
  padding-inline: 3px;
  grid-auto-flow: column;
  grid-auto-columns: 17px;
  grid-gap: 2px;

  &.header {
    grid-area: settings;
    grid-auto-columns: 23px;
    grid-gap: 4px;
    justify-content: space-around;

    @media (max-width: 850px) {
      margin-left: 0;
      grid-gap: 15px;
    }

    .overview-habit-button {
      width: 23px;
      height: 23px;
      padding: 0;
    }
  }
}

.overview-habit-button {
  height: 17px;
  width: 17px;
  cursor: pointer;

  &:hover {
    color: var(--habit-color);
  }
}
