$cell-margin: 2px;

.dummy {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: calc(var(--cell-width) * var(--width) + 4px * calc(var(--width) - 1));
  margin: $cell-margin;
}

.cell,
.cell-period,
.cell-fraction,
.cell-numeric {
  &.dummy {
    --blank-cell-color: transparent !important;
    --hover-cell-border-color: transparent !important;
    --cell-shadow-color: transparent !important;
    pointer-events: none !important;
  }

  &.nonzero {
    --cell-border-color: var(--nonzero-cell-border-color);
  }

  &:hover {
    --cell-border-color: var(--hover-cell-border-color);
  }
}

@mixin cell-common {
  position: relative;
  border: 1px solid var(--cell-border-color);
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px var(--cell-shadow-color);
  height: calc(var(--height) * var(--multiplier) * (var(--cell-height) + 4px) - 4px);
  width: calc(var(--width) * (var(--cell-width) + 4px) - 4px);
  margin: $cell-margin;
  background-color: var(--blank-cell-color);

  &:hover .cell-numeric.target {
    color: var(--text-color);
    opacity: 1;
  }
}

.cell {
  @include cell-common;
  margin-block: calc(2px - var(--negate-margin-block));

  &.dotted {
    background: repeating-conic-gradient(var(--color) 0% 27%, transparent 0% 100%) 50% / 3px 3px;
  }

  &.hundred {
    box-shadow:
      0px 0px 0px 1px var(--cell-border-color),
      0px 0px 0px 1px var(--blank-cell-color),
      0 0 0 2px var(--cell-shadow-color);
    border-color: transparent;
  }

  &.fractured {
    // --shf: 4.9406564584124654e-324;
    --gap-decrement-column: 0;
    --gap-decrement-row: 0;
    --column-gap: calc(var(--cell-height) * (2 - var(--gap-decrement-column)) / 15);
    --row-gap: calc(var(--cell-height) * (2 - var(--gap-decrement-row)) / 15);
    background-color: var(--main-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    // overflow: hidden;
    box-shadow: none;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);

    --width: var(--length);
    --height: 1;
    --total-width: var(--length);
    --total-height: 1;

    &.vertical {
      --width: 1;
      --height: var(--length);
      --total-width: 1;
      --total-height: var(--length);
    }

    --height-fractions-calc: 1;
    --width-fractions-calc: 1;

    &.f2 {
      --height-fractions-calc: 2;
    }

    &.f3,
    &.f4 {
      --height-fractions-calc: 2;
      --width-fractions-calc: 2;

      &:not(.long) {
        --gap-decrement-column: 1;
      }
    }

    &.f5,
    &.f6 {
      --height-fractions-calc: 2;
      --width-fractions-calc: 3;

      &:not(.long) {
        --gap-decrement-column: 1;
      }
    }

    &.f7,
    &.f8,
    &.f9 {
      --height-fractions-calc: 3;
      --width-fractions-calc: 3;
      --gap-decrement-column: 1;
      --gap-decrement-row: 1;
    }

    &.f10,
    &.f11,
    &.f12 {
      --height-fractions-calc: 3;
      --width-fractions-calc: 4;
      --gap-decrement-column: 1;
      --gap-decrement-row: 1;
    }

    &.f13,
    &.f14,
    &.f15,
    &.f16 {
      --height-fractions-calc: 4;
      --width-fractions-calc: 4;
      --gap-decrement-column: 1;
      --gap-decrement-row: 1;
    }

    --height-fractions: var(--height-fractions-calc);
    --width-fractions: var(--width-fractions-calc);

    &.vertical.long {
      --height-fractions: var(--width-fractions-calc);
      --width-fractions: var(--height-fractions-calc);
    }

    &.vertical.long.f2 > * {
      height: 100%;
    }

    &:hover > * {
      --cell-border-color: var(--hover-cell-border-color);
    }

    & > * {
      box-shadow: 0px 0px 0px 1px var(--cell-shadow-color);
    }
  }
}

.cell-fraction {
  height: calc(
    (
        var(--total-height) * (var(--cell-height) + 4px) - 4px - var(--row-gap) *
          (var(--height-fractions) - 1)
      ) /
      var(--height-fractions)
  );
  width: calc(
    (
        var(--total-width) * (var(--cell-width) + 4px) - 4px - var(--column-gap) *
          (var(--width-fractions) - 1)
      ) /
      var(--width-fractions)
  );
  border-radius: 1px;
  border: 1px solid var(--cell-border-color);
  position: relative;
  background-color: var(--blank-cell-color);
  margin: 0;
}

.cell-numeric {
  --font-size-minus: 0px;
  padding-top: 0;
  margin-top: 1px;
  font-size: calc(
    var(--cell-height) - max(var(--font-size-minus), var(--cell-height) - 30px) - 4px
  );

  text-align: center;
  font-weight: 600;
  color: var(--numeric-text-color);
  z-index: 1;
  cursor: default;

  &.target {
    color: var(--text-color);
    opacity: 0.5;
  }
}

.cell-period {
  @include cell-common;

  @mixin shaped-cell {
    margin: -1px;
    height: calc(
      var(--cell-height) * var(--height) * var(--multiplier) + 4px *
        calc(var(--height) * var(--multiplier) - 1)
    );
    width: calc((var(--cell-width) + 5px) * var(--width) + 2px * calc(var(--width) - 1));
    border-radius: 1px;
    position: absolute;
    visibility: visible;
    background-color: inherit;
    box-shadow: 0px 0px 0px 1px var(--cell-shadow-color);
  }

  @mixin shadow-fix {
    display: block;
    background-color: var(--blank-cell-color);
    width: 2px;
    height: calc(100% + 1px);
    content: ' ';
    position: absolute;
  }

  &-before {
    @include shaped-cell;
    border-right: none;
    left: calc(-1 * var(--cell-height) - 4px);
    bottom: 0px;
  }

  &-after {
    @include shaped-cell;
    border-left: none;
    right: calc(-1 * var(--cell-height) - 4px);
    top: 0px;
  }

  &.hundred .cell-period-connector .cell-numeric {
    margin-left: -5px;
  }

  & .cell-period-connector .cell-numeric {
    margin-left: -3px;
  }

  &-connector {
    @include shaped-cell;
    margin-inline: 0px;
    left: -3px;
    width: 6px;
    top: calc(
      var(--cell-height) * var(--offset-top) * var(--multiplier) + 4px *
        calc(var(--offset-top) * var(--multiplier))
    );

    &:hover {
      box-shadow: none;
    }

    &:after {
      @include shadow-fix;
      top: -1px;
      right: -1px;
    }

    &:before {
      @include shadow-fix;
      top: 0px;
      left: -1px;
    }
  }

  &.wide {
    & .cell-period-before:after {
      @include shadow-fix;
      top: -1px;
      right: -1px;
    }
    & .cell-period-after:after {
      @include shadow-fix;
      top: 0px;
      left: -1px;
    }

    &.nonzero:not(.hundred),
    &:hover:not(.hundred) {
      border: 1px solid var(--cell-border-color);

      & > .cell-period-before {
        border: 1px solid var(--cell-border-color);
        border-right: none;
        box-shadow: none;

        &:after {
          display: none;
        }
      }

      & > .cell-period-after {
        border: 1px solid var(--cell-border-color);
        border-left: none;
        box-shadow: none;

        &:after {
          display: none;
        }
      }
    }
  }

  &.hollow {
    margin-inline: 0px;
    border-left: none;
    border-right: none;
    box-shadow: none;

    & .cell-period-before {
      width: var(--cell-height);
      left: calc(-1 * var(--cell-height) - 1px);
    }

    & .cell-period-after {
      width: var(--cell-height);
      right: calc(-1 * var(--cell-height) - 1px);
    }

    &:not(.hundred) {
      border-top: 1px solid var(--cell-border-color);
      border-bottom: 1px solid var(--cell-border-color);

      & > .cell-period-before {
        border: 1px solid var(--cell-border-color);
      }

      & > .cell-period-after {
        border: 1px solid var(--cell-border-color);
      }

      & > .cell-period-connector {
        border-top: 1px solid var(--cell-border-color);
        border-bottom: 1px solid var(--cell-border-color);
        box-shadow: none;

        &:after,
        &:before {
          display: none;
        }
      }
    }
  }

  &.hundred {
    &:is(.wide),
    & .cell-period-before,
    & .cell-period-after,
    & .cell-period-connector {
      box-shadow:
        0px 0px 0px 1px var(--blank-cell-color),
        0 0 0 2px var(--cell-shadow-color);
    }

    &.nonzero.wide {
      border-color: transparent;
    }

    & .cell-period-connector:before {
      height: calc(100% + 3px);
      top: -1px;
      left: -2px;
      width: 4px;
    }
    & .cell-period-connector:after {
      height: calc(100% + 3px);
      top: -2px;
      right: -2px;
      width: 4px;
    }

    &.nonzero .cell-period-connector,
    &:hover .cell-period-connector {
      box-shadow:
        0px 0px 0px 1px var(--cell-border-color),
        0px 0px 0px 1px var(--blank-cell-color);
      border-color: transparent;
      &:before {
        @include shadow-fix;
        top: 0px;
        left: -1px;
      }
      &:after {
        @include shadow-fix;
        top: -1px;
        right: -1px;
      }
    }

    & .cell-period-before:after {
      height: calc(100% + 3px);
      width: 4px;
      top: -2px;
      right: -2px;
    }
    & .cell-period-after:after {
      height: calc(100% + 3px);
      width: 4px;
      top: -1px;
      left: -2px;
    }

    &.nonzero.wide,
    &:hover:is(.wide) {
      box-shadow:
        0px 0px 0px 1px var(--cell-border-color),
        0px 0px 0px 1px var(--blank-cell-color),
        0 0 0 2px var(--cell-shadow-color);
      border-color: transparent;

      & .cell-period-before,
      & .cell-period-after {
        box-shadow:
          0px 0px 0px 1px var(--cell-border-color),
          0px 0px 0px 1px var(--blank-cell-color);
        border-color: transparent;
      }
      & .cell-period-before:after {
        @include shadow-fix;
        top: -1px;
        right: -1px;
      }
      & .cell-period-after:after {
        @include shadow-fix;
        top: 0px;
        left: -1px;
      }
    }

    &.nonzero.hollow,
    &:hover:is(.hollow) {
      & .cell-period-before,
      & .cell-period-after {
        box-shadow:
          0px 0px 0px 1px var(--cell-border-color),
          0px 0px 0px 1px var(--blank-cell-color),
          0 0 0 2px var(--cell-shadow-color);
        border-color: transparent;
      }
    }
  }
}
