.cell-tip {
  padding: 7px;
  padding-inline: 10px;
  position: absolute;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  background-color: #545454;
  color: white;
  z-index: 5;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.hidden {
    top: -50px;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }

  #cell-tip-actions-counter {
    text-align: center;
    display: grid;
    width: min-content;
    background-color: #777;
    border-radius: 3px;
    line-height: 14px;

    &:focus {
      background-color: #3c3c3c;
    }
  }

  &-actions {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 5px;
    align-items: center;

    &-controls {
      width: 100%;
      display: flex;
      align-items: center;
      align-self: center;
      gap: 1px;
      max-height: 18px;

      @media (max-width: 850px) {
        gap: 20px;

        & .icon.tiny {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  & {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
      min-width: 0;
      max-width: 6em;
    }
  }
}

.cell-tip-i {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 10px;

  &-hide {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 3px;
  }
}

.cell-add-dropdown {
  position: absolute;
  text-align: center;
  font-size: 12px;
  background-color: var(--main-background-color);
  color: var(--text-color);
  z-index: 4;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;
  width: min-content;
  height: 57px;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 4px 2px var(--border-color);
  padding: 3px;

  &.target {
    height: 85px;
    padding: 5px;
  }

  &.hidden {
    visibility: hidden;
    display: none;
  }
}
