@use 'scrollbar';

.page-habit {
  display: grid;
  grid-template: 125px min-content 1fr / 5fr;
}

.habitpage-header {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.habit {
  &-form {
    display: flex;
    align-items: center;
    gap: 8px;

    &.target {
      flex-wrap: wrap;
      gap: 3px;

      & > span {
        // white-space: pre;
      }
    }

    & > div,
    & > button {
      display: inline-block;
      border-radius: 6px;
      padding: 0px;

      &.error {
        border: 1px solid var(--form-error-color);
      }
    }

    & > div {
      margin-inline: 5px;
      border: 1px solid var(--important-border-color);
    }

    &-input {
      height: 30px;
      padding: 4px;
      font-size: 0.9rem;
    }

    &-counter {
      width: 120px;
    }
  }

  &-button {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, var(--border-color) 80%, var(--support-color) 20%);
    color: var(--main-background-color);
    margin-right: -10px;
  }
}

.habit-heatmap-container {
  @include scrollbar.scrollbar;
  --negate-margin-block: 0px;
  position: relative;
  direction: rtl;
  overflow-y: hidden;
  padding-right: 5px;
  border-radius: 0 0 10px 10px;
  height: calc(25px + (var(--cell-height) + 4px) * 7 * var(--multiplier));
  width: min(100%, calc(var(--weeks) * (var(--cell-height) + 4px) + 60px));
}

.habit-heatmap {
  direction: ltr;
  position: absolute;
  display: grid;
  grid-template-areas:
    '.        months'
    'weekdays cells';
  grid-template-rows: var(--cell-height) calc((var(--cell-height) + 4px) * 7 * var(--multiplier));
  grid-template-columns: 40px calc(var(--weeks) * (var(--cell-height) + 4px) - 2px);
  row-gap: 4px;
}
