$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

#content-landing {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  background-color: var(--main-background-color);
  color: var(--landing-text-color);
}

.landing-mobile-menu {
  background: unset;
  padding: 0;
  margin: 0;
  transition: none;
  width: min-content;
  display: none;

  @media (max-width: 700px) {
    display: block;
  }

  & .menu-container {
    right: -35px;
    top: 53px;

    @media (max-width: 550px) {
      right: -25px;
      top: 45px;
    }
  }
}

.landing {
  background-image: var(--bamboo);
  box-shadow: inset 0px 0px 277px 3px #4c3f37;
}

.landing-header {
  width: calc(100vw - 2em);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 550px) {
    padding: 5px;
  }

  &-logo {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 20px;
    align-items: center;
    pointer-events: none;

    @media (max-width: 550px) {
      gap: 15px;
    }
  }

  &-links {
    color: var(--support-color);
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
    user-select: none;

    @media (max-width: 700px) {
      display: none;
    }

    &-theme-toggle {
      display: flex;
      border-radius: 40px;
      background-color: var(--transparent-bg-color);
      cursor: pointer;

      & .icon {
        padding: 10px;
        border-radius: 40px;
      }

      & .icon.active {
        background-color: var(--secondary-background-color);
      }
    }

    &-button {
      border-radius: 50%;
      padding: 10px;

      &:hover {
        background-color: var(--transparent-bg-color);
        cursor: pointer;
      }
    }
  }

  &-container {
    display: flex;
    justify-content: center;
    height: 75px;
    background: linear-gradient(
      0.1turn,
      var(--gradient-color-2),
      var(--gradient-color-1) 45% 60%,
      var(--gradient-color-3)
    );
    align-items: center;

    @media (max-width: 550px) {
      font-size: 15px;
      height: 60px;

      .icon.bigger {
        height: 45px;
        width: 45px;
      }
    }
  }
}

.landing-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 20px;
  height: calc(100vh - 100px);
  overflow: hidden;

  @media (max-width: 550px) {
    height: calc(100dvh - 60px);
  }

  @media (max-width: 700px) {
    margin-block: 0px;
  }

  &-text {
    font-size: 3rem;
    width: auto;
    max-width: 700px;
    z-index: 4;
    margin-block: auto;
    margin-inline: 20px;
    padding: 30px 30px;
    height: min-content;
    background-color: var(--main-background-color);
    box-shadow: 0 0 16px 8px var(--landing-border-color);
    // border-radius: 30px;
    border-radius: 15px;
    text-align: center;

    @media (max-width: 700px) {
      font-size: 2.5rem;
      left: 0;
      right: 0;
      padding: 20px;
    }

    @media (max-width: 500px) {
      margin-inline: 10px;
    }
  }
}

.landing-cells {
  --cell-height: 30px;
  --cell-width: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    --cell-height: 25px;
    --cell-width: 25px;
  }

  @media (max-width: 600px) {
    --cell-height: 20px;
    --cell-width: 20px;
  }

  @media (max-width: 500px) {
    --cell-height: 15px;
    --cell-width: 15px;
  }

  @media (max-width: 400px) {
    --cell-height: 12px;
    --cell-width: 12px;
  }

  @media (max-width: 320px) {
    --cell-height: 8px;
    --cell-width: 8px;
  }
}

.landing-heatmap-cells {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc((#{$cell-height} + #{$cell-margin} * 2) * 14);
  height: 105vh;
  width: 100vw;

  &-cell {
    height: $cell-height;
    width: $cell-width;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    margin: $cell-margin;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.landing-about {
  height: auto;
  min-height: 105vh;
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;

  &-text {
    max-width: 65ch;
    margin: 0 auto;
    padding: 30px;

    &-header {
      text-align: center;
      font-size: 2rem;
      color: var(--support-color);
    }

    & p {
      padding-block: 10px;
      // color: #545454;
      color: var(--text-color);
    }
  }
}

.landing-features {
  &-content {
    min-height: 105vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

    @media (max-width: 700px) {
      margin: 30px 10px;
    }
  }

  &-container {
    background-color: var(--main-background-color);
    padding-inline: 40px;
    height: auto;
    min-height: 500px;
    width: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 0 16px 8px var(--landing-border-color);

    @media (max-width: 700px) {
      padding: 10px;
    }
  }

  &-title {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    margin-top: 10px;
    color: var(--support-color);
  }

  &-section {
    margin-bottom: 20px;

    @media (min-width: 450px) {
      display: flex;
    }
  }

  &-section-image {
    height: 100%;
    margin: 0 30px 0px 10px;

    @media (max-width: 450px) {
      margin: 0 15px 0 0;
      float: left;
    }
  }
}

.landing-features {
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  flex-wrap: wrap;
  height: 100%;
  // gap: 10px;
  row-gap: 20px;
}

.landing-feature {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 3px solid var(--landing-border-color-inside);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-container {
    height: 300px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.landing-projects {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  max-width: 1300px;
  height: auto;
  min-height: 700px;
  justify-content: center;
  gap: 30px;
  margin-inline: 20px;
  margin-bottom: 30px;

  @media (max-width: 1150px) {
    min-height: 200px;
    margin-inline: 10px;
    margin-bottom: 15px;
    gap: 20px;
  }
}

.landing-project {
  background-color: var(--main-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  flex: 1 0 0;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  @media (max-width: 1100px) {
    max-width: 600px;
    grid-template-rows: min-content auto;
  }

  &-title {
    text-align: center;
  }
}

.landing-cell-container {
  --total-width: 1;
  display: flex;
  height: 50px;
  width: calc(50px * var(--total-width) + (var(--total-width) - 1));
  --cell-height: 45px;
  --cell-width: 45px;
  overflow: hidden;
  margin: 15px;
}

.landing-footer {
  &-container {
    display: flex;
    justify-content: center;
    height: 75px;
    background: linear-gradient(
      0.1turn,
      var(--gradient-color-1),
      var(--gradient-color-2) 45% 60%,
      var(--gradient-color-3)
    );
    align-items: center;
  }
}

.landing-lastcall {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 0px;

  @media (max-width: 550px) {
    height: calc(100vh - 60px);
  }

  @media (max-width: 700px) {
    margin-block: 30px;
  }

  &-container {
    width: min(100%, 700px);
    max-width: 700px;
    z-index: 4;
    top: 0;
    bottom: 0;
    right: 0;
    margin-block: auto;
    margin-inline: 20px;
    padding: 30px;
    height: min-content;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: var(--main-background-color);
    box-shadow: 0 0 16px 8px var(--landing-border-color);
    // border-radius: 30px;
    border-radius: 15px;

    @media (max-width: 700px) {
      left: 0;
      padding: 20px;
      box-shadow: 0 0 8px 8px var(--landing-border-color);
    }

    @media (max-width: 500px) {
      margin-inline: 10px;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &-title {
    // flex: 0 0 70%;
    font-size: 3rem;
    white-space: nowrap;
    color: var(--support-color);

    @media (max-width: 550px) {
      white-space: normal;
      text-align: center;
      line-height: 3.5rem;
    }
  }

  &-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 40px;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    &-header {
      font-size: 1.1rem;
      text-align: center;
    }

    &-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

      & > * {
        height: 40px;
      }
    }
  }
}

.landing-contact {
  display: inline;
  text-decoration: none;
  color: var(--signature-color);
}

.landing-li {
  list-style: square inside;
  overflow: auto;
}

.landing-habits {
  --is-big: 0;
  display: grid;
  grid-template-rows: 17px;
  row-gap: 2px;
  padding-top: 5px;

  .landing-habit {
    display: grid;
    grid-template-columns: 200px calc(var(--length) * 19px);
    font-size: 15px;

    @media (max-width: 550px) {
      grid-template-columns: 160px calc(var(--length) * 17px);
    }

    @media (max-width: 480px) {
      grid-template-columns: 140px calc(var(--length) * 16px);
      font-size: 13px;
    }

    &-name {
      line-height: 15px;
      height: 17px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-left: 5px;
      color: var(--text-color);

      &:hover {
        opacity: 0.7;
      }

      &[disabled] {
        opacity: 1;
      }

      @media (max-width: 850px) {
        font-size: 13px;
        padding-left: 2px;
      }
    }

    &-cells {
      --cell-height: 15px;
      --cell-width: 15px;
      height: var(--cell-height);
      display: flex;

      @media (max-width: 550px) {
        --cell-height: 13px;
        --cell-width: 13px;
      }

      @media (max-width: 480px) {
        --cell-height: 12px;
        --cell-width: 12px;
      }
    }
  }
}
