@use 'scrollbar';
@use 'dropdown';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  z-index: 3;

  &-active {
    display: grid;
  }

  &.overlay-sidebar {
    background-color: #00000050;
    backdrop-filter: blur(0px);
    z-index: 2;
  }
}

.modal {
  @include scrollbar.scrollbar;
  display: none;
  grid-auto-rows: auto;
  gap: 10px;
  z-index: 3;
  width: min(800px, 100vw - 3em);
  height: auto;
  max-height: 100%;
  overflow-y: scroll;
  border-radius: 8px;
  background-color: var(--support-background-color);
  padding: 1em;
  align-items: center;

  @media (max-width: 550px) {
    width: calc(100% - 16px);
    padding: 0.4em;

    & .button-default {
      padding: 8px 5px;
    }
  }

  &-active {
    display: grid;
  }

  &-stopwatch {
    @media (max-width: 400px) {
      height: 400px;
    }
  }

  &-onboarding {
    display: flex;
    flex-direction: column;
  }

  &-onboarding.modal-mobile {
    text-align: center;
  }

  &-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min(710px, 100% - 3em) 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    z-index: 4;
    position: relative;

    &.habit-mode {
      grid-template-columns: 1fr min-content;
    }
  }

  &-details {
    @include scrollbar.scrollbar;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
    background-color: var(--support-background-color);
    padding: 10px;
    border-radius: 10px;

    @media (max-width: 550px) {
      padding: 5px;
      height: min-content;
    }
  }

  &-details-block {
    @include scrollbar.scrollbar;
    height: 100%;
    width: 100%;
    // overflow-y: scroll;
    background-color: var(--main-background-color);
    // padding: 5px;
    border-radius: 10px;

    &.description-area {
      grid-area: description;
    }

    &.name-area {
      grid-area: name;
    }

    &.mode-area {
      grid-area: mode;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.color-area {
      grid-area: color;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
    }
  }

  &-description {
    min-height: 300px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
  }
}

.habit-navigation {
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;

  & .filters {
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    border-radius: 10px;
    gap: 5px;

    & li {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: var(--button-bg-color);
      color: var(--support-color);

      &:hover:not(.active) {
        background-color: color-mix(in srgb, var(--button-bg-color) 60%, transparent);
      }
    }

    & li.active {
      color: var(--active-text-color);
      background-color: color-mix(in srgb, var(--signature-color) 60%, transparent);
    }
  }
}

.modal-details-habit-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    'name mode'
    'description mode'
    'description color';
}

.modal-details-habit-targets-wrapper {
  display: grid;
  height: 393px;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px;
  overflow-y: scroll;

  @media (max-width: 700px) {
    height: 435px;
  }

  @media (max-width: 420px) {
    height: 393px;
  }

  & .modal-details-block {
    height: 100%;
    justify-content: start;
    padding-inline: 15px;

    &:hover {
      background-color: color-mix(in srgb, var(--main-background-color) 60%, transparent);
    }
  }
}

.modal-details-project-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content;
  grid-template-areas: 'description color';
}

.form-field-length {
  display: none;
  position: absolute;
  right: 5px;
  font-size: 0.8em;
  bottom: -10px;

  &.error {
    display: block;
    color: var(--form-error-color);
  }
}

.form-task-name {
  padding: 5px 10px;
  height: min-content;
  white-space: nowrap;
  position: relative;

  & > input:focus ~ .form-field-length {
    display: block;
  }
}

.form-task-description {
  padding: 5px 0px 5px 10px;
  font-size: 0.9em;
  height: min-content;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;

  & > textarea {
    @include scrollbar.scrollbar;
  }

  & > textarea:focus ~ .form-field-length {
    display: block;
  }

  &.overriden {
    opacity: 0.4;
  }
}

.form-split {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.form-habits {
  @include dropdown.dropdown;
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow-x: hidden;

  &-container {
    @include scrollbar.scrollbar;
    width: 230px;
    display: grid;
    gap: 5px;
    padding: 7px;
    transition: none;
    box-shadow: 0 0 3px 1px silver;
    background-color: var(--support-background-color);
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 6px;
    right: 0;
    max-height: 290px;
    text-align: center;

    & .form-chooser {
      width: 210px;
      justify-content: flex-start;
      margin: auto;
      padding-right: 0px;

      & p {
        text-overflow: ellipsis;
        white-space: nowrap;
        text-rendering: auto;
        overflow: hidden;
      }
    }

    &.active {
      // top: calc(100%);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      grid-auto-rows: 27px;
    }
  }
}

.form-chooser {
  height: min-content;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px 15px;
  background-color: var(--chooser-bg-color);
  border-radius: 10px;
  gap: 10px;
  transition: background-color 0.1s;
  cursor: pointer;
  max-width: 100%;

  & p {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: auto;
    overflow: hidden;
  }

  @media (max-width: 330px) {
    &.add {
      width: 30px;
      padding: 0;

      & p {
        visibility: hidden;
        display: none;
      }
    }
  }

  &.add {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    white-space: nowrap;

    &:hover {
      opacity: 0.9;
    }
  }

  &:hover {
    opacity: 0.9;

    & .habit-circle.to-delete {
      background-color: transparent;
      color: var(--signature-color);
    }
  }

  &.active {
    background-color: var(--transparent-bg-color);
  }
}
