@use 'scrollbar';

$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;

.contentlist {
  display: grid;
  justify-items: center;
  align-content: center;
  height: min-content;
  width: 100%;
  gap: 15px;
  padding: 20px;

  @media (max-width: 1000px) {
    padding: 15px;
  }

  @media (max-width: 550px) {
    padding: 7px 0px;
    gap: 7px;
  }
}

.contentlist-controls {
  display: grid;
  grid-template-columns: 180px min-content 255px;
  grid-template-areas: '. date topbar-right';
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background-color);
  width: 100%;
  height: 50px;
  padding-inline: 20px;

  @media (max-width: 1150px) {
    grid-template-columns: 180px 1fr 180px;
  }

  @media (max-width: 900px) {
    grid-template-columns: 180px 1fr 50px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'date';
    justify-items: center;

    &:not(.only-datepicker) {
      height: 100px;
      grid-template-areas:
        '. topbar-right'
        'date topbar-right';
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'date';

    &:not(.only-datepicker) {
      grid-template-columns: 1fr min-content;
      grid-template-areas:
        '. topbar-right'
        'date date';
      padding-inline: 5px;
    }
  }

  @media (max-width: 330px) {
    &:not(.only-datepicker) {
      height: 100px;
    }
  }
}

.overview-controls {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.overview-centering {
  --habit-name-width: 200px;
  --habit-controls-width: 115px;
  --overview-topbar-left-padding: 35px;

  &.mobile {
    --habit-name-width: 110px;
    --habit-controls-width: 20px;
    --overview-topbar-left-padding: 0px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: 2px;
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: min(
    calc(var(--length) * 19px) + var(--habit-name-width) + var(--habit-controls-width) + 10px,
    100%
  );

  @media (max-width: 550px) {
    border-radius: 5px;
  }
}

.overview-container {
  @include scrollbar.scrollbar;
  --negate-margin-block: calc(2 - 2 * var(--vertical));
  position: relative;
  direction: rtl;
  overflow-y: hidden;
  height: max(27px, calc(19px * var(--habits) * var(--multiplier) + 8px));
  width: min(
    calc(var(--length) * 19px) + var(--habit-name-width) + var(--habit-controls-width),
    100%
  );

  &.mobile {
    height: max(55px, calc(30px + 19px * var(--habits) * var(--multiplier) + 6px));
  }

  &.vertical {
    height: calc(var(--length) * 19px + 360px);
    width: min(calc(50px + (17px + 2px) * var(--habits) * var(--multiplier) + 10px), 100%);
  }
}

.overview {
  direction: ltr;
  position: absolute;
  display: grid;
  grid-template-areas: 'habits    habits habits';
  grid-template-rows: min-content;
  grid-template-columns: var(--habit-name-width) calc(var(--length) * 19px) var(
      --habit-controls-width
    );
  // row-gap: 4px;

  &.mobile {
    grid-template-areas:
      'topbar-left months   topbar-right'
      'topbar-left days     topbar-right'
      'habits    habits habits';
    grid-template-rows: 15px 15px min-content;
    grid-template-columns: var(--habit-name-width) calc(var(--length) * 19px) var(
        --habit-controls-width
      );
  }

  &.vertical {
    grid-template-areas:
      'topbar-right topbar-right topbar-right'
      'topbar-left  topbar-left  habits'
      'months       days         habits'
      'move-right   move-right   habits';
    grid-template-rows: 200px calc(var(--length) * 19px) 115px;
    grid-template-columns: 25px 15px min-content;
    gap: 3px;

    & > .heatmap-months,
    & > .overview-days {
      flex-direction: column;
    }

    & > .overview-topbar-left {
      align-items: end;
      padding-left: 0px;

      & > button {
        height: 25px;
      }
    }

    .overview-period-move-down {
      grid-area: move-right;
      margin-inline: auto;
      display: flex;
      align-items: start;
      margin-top: -5px;
      width: min-content;
    }

    & > .overview-habits {
      writing-mode: vertical-lr;
      overflow: hidden;
      padding-left: 5px;
      padding-top: 3px;

      & .overview-habit {
        &-cells {
          width: var(--cell-width);
          height: min-content;
        }

        &-name {
          padding-left: 0px;
        }
      }
    }
  }

  .overview-habits {
    grid-area: habits;
    display: grid;
    grid-template-rows: 17px;
    row-gap: 2px;
    padding-top: 4px;

    @media (min-width: 850px) {
      padding-top: 5px;
    }

    .overview-habit {
      display: grid;
      grid-template-columns: var(--habit-name-width) calc(var(--length) * 19px) var(
          --habit-controls-width
        );
      font-size: 15px;

      &-name {
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;

        &:hover {
          opacity: 0.7;
        }

        &[disabled] {
          opacity: 1;
        }

        @media (max-width: 850px) {
          font-size: 13px;
          padding-left: 2px;
        }
      }
    }
  }

  &-topbar-left {
    display: flex;
    padding-left: var(--overview-topbar-left-padding);
    overflow: hidden;
    grid-area: topbar-left;
    justify-content: space-around;

    @media (max-width: 550px) {
      padding-left: 2px;
    }
  }

  &-topbar-right {
    display: flex;
    grid-area: topbar-right;
    gap: 2px;
  }

  &-year-move {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    @media (max-width: 850px) {
      font-size: 0.8rem;
      & .icon {
        margin-inline: -5px;
      }
    }
  }

  &-period-button {
    padding-top: 3px;

    & .icon {
      width: 50px;
    }
  }
}

.overview-habit-add {
  background-color: var(--secondary-background-color);
  border-top: 1px solid var(--border-color);
  border-radius: 0px 0px 10px 10px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  width: min(
    calc(var(--length) * 19px + var(--habit-name-width) + var(--habit-controls-width)),
    100%
  );
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.standalone {
    border: none;
    border-radius: 10px;
  }

  &.vertical {
    width: min(calc(50px + (17px + 2px) * var(--habits) + 10px), 100%);
  }

  &.topbar {
    grid-template-columns: 180px;
    height: 25px;
    line-height: 23px;

    @media (max-width: 800px) {
      grid-template-columns: 280px;
    }

    @media (max-width: 480px) {
      grid-template-columns: 180px;
    }
  }
}

@mixin overview-header-small {
  grid-template-columns: 1fr min-content;
  grid-template-rows: 30px;
  grid-template-areas:
    'name settings'
    'date settings';
  gap: 3px;
}

.overview-header.slide-mode.modal-mode {
  @media (max-width: 750px) {
    grid-template-areas:
      'date'
      'settings' !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    justify-items: center;
  }
}

.overview-header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px 10px 0px 0px;
  display: grid;
  padding-right: 5px;
  grid-template-areas:
    'name months settings'
    'name days settings';

  // 'topbar-left months   topbar-right'
  // 'topbar-left days     topbar-right'
  grid-template-columns: 200px calc(var(--length) * 19px) 115px;
  grid-template-rows: 15px 15px;
  // justify-content: space-between;
  align-items: center;
  width: min(
    calc(var(--length) * 19px + var(--habit-name-width) + var(--habit-controls-width)),
    100%
  );

  @media (min-width: 850px) {
    // &.singular {
    //   position: sticky;
    //   top: 50px;
    //   z-index: 1;
    // }
  }

  & > a,
  & > h3 {
    grid-area: name;
  }

  @media (max-width: 800px) {
    @include overview-header-small;
  }

  @media (max-width: 550px) {
    grid-template-areas: 'name settings';

    // &.singular {
    //   grid-template-areas:
    //     'name settings'
    //     'date date';
    //   padding-bottom: 5px;
    // }
  }

  &.vertical {
    width: min(calc(50px + (17px + 2px) * var(--habits) + 10px), 100%);
    @include overview-header-small;
  }

  &.habit-mode {
    grid-template-columns: 1fr 170px;
    grid-template-rows: min-content;
    grid-template-areas: 'name settings';

    &.small {
      grid-template-areas:
        'name'
        'settings';
      justify-items: center;
    }

    //     @media (max-width: 950px) {
    //       gap: 0px;
    //       grid-template-columns: 190px min-content 170px;
    //     }
  }

  &.modal-mode {
    grid-template-areas: 'date settings';
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;

    @media (max-width: 950px) {
      grid-template-areas: 'date settings' !important;
      grid-template-columns: 2fr 1fr !important;
    }

    @media (max-width: 600px) {
      grid-template-areas:
        'date'
        'settings' !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr !important;
      justify-items: center;
    }
  }

  &.small {
    @include overview-header-small;
    grid-template-areas: 'name settings';
  }

  & a:not(.overview-open-settings) {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 30px;

    &:hover {
      opacity: 0.7;
    }

    &[disabled] {
      opacity: 1;
    }
  }

  & h3 {
    // grid-area: name;
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: auto;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }

  & > div > input {
    // grid-area: name;
    margin: auto;
    line-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    border-radius: 10px;

    &:focus {
      background-color: var(--secondary-background-color);
      // border: 1px solid var(--border-color);
      box-shadow: 0px 0px 4px 2px var(--signature-color);
    }

    &:hover {
      background: var(--secondary-background-color);
    }
  }

  &-return-mode {
    grid-area: name;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
}

.overview-date-button {
  &:hover {
    opacity: 0.5;
  }

  &.highlight {
    color: var(--bright-signature-color);

    &:hover {
      opacity: 0.75;
    }
  }

  &[disabled] {
    opacity: 1;
  }
}

.overview-settings {
  grid-area: settings;
  display: flex;
  align-items: center;
  gap: 2px;

  .overview-open-settings.active {
    color: var(--bright-signature-color);

    &:hover {
      opacity: 0.5;
    }

    &[disabled] {
      opacity: 1;
    }
  }

  @media (max-width: 850px) {
    gap: 12px;
  }
}

.overview-habit-cells {
  height: var(--cell-height);
  display: flex;
  align-self: center;

  &.weekly {
    direction: ltr;
    grid-area: cells;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}

.overview-no-habits {
  display: inline-block !important;
  font-size: 14.5px !important;
  // grid-area: name;
  margin: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-rendering: auto;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
