@use 'dropdown';
@use 'scrollbar';

.sidebar {
  @include scrollbar.scrollbar;
  grid-area: sidebar;
  // background-color: #fafafa;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  // transition: 1.5s;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;

  & p {
    line-height: 20px;
  }
}

.filters {
  display: flex;
  height: 100%;
  align-items: center;
}

.sidebar-projects-header,
.sidebar-habits-header {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.navigation {
  display: grid;
  grid-auto-rows: 35px;
  gap: 5px;

  &-section {
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 30px 60px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    padding-inline: 5px;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: var(--transparent-bg-color);
    }
  }

  &-section-collapsed {
    display: grid;
    grid-template-rows: 25px 10px;
  }

  & .ribbon {
    visibility: hidden;
  }
}

@mixin sidebar-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  line-height: 12px;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;

  &.active,
  &:hover {
    background-color: var(--transparent-bg-color);
  }
}

.sidebar-project {
  @include sidebar-item;
  padding-left: 10px;
  border-radius: 10px;

  &.active,
  &:hover {
    background-color: var(--sidebar-dim-color);
  }
}

.filter {
  @include sidebar-item;
  padding-inline: 15px;
  border-radius: 0;

  &.active.important {
    background-color: #ffd70033;
  }
}

.habit {
  @include sidebar-item;
  padding-inline: 9px;
  height: 35px;
  margin-left: 6px;
  margin-block: 3px;
  gap: 20px;
  width: 213px;
  overflow: hidden;
  border-radius: 10px;

  &.active,
  &:hover {
    background-color: var(--sidebar-muted-color);
  }
}

.tag {
  @include sidebar-item;
  padding-inline: 10px 15px;
  background-color: var(--button-bg-color);
  border-radius: 10px;
  width: min-content;
  height: 25px;

  &:hover {
    background-color: var(--button-bg-lighter-color);
  }

  & p {
    white-space: nowrap;
  }
}

.tag-wrapper {
  @include sidebar-item;
  cursor: default;
  flex-wrap: wrap;
  height: min-content;
  overflow: hidden;
  border-radius: 0;

  & > .tag-wrapper {
    flex-wrap: nowrap;
    white-space: nowrap;
    width: min-content;
  }

  &:hover {
    background-color: inherit;
  }
}


.sidebar-projects {
  @include dropdown.dropdown;
  @include dropdown.dropdown-arrow;
  @include dropdown.dropdown-collapse;
}

.sidebar-habits {
  @include dropdown.dropdown;
  @include dropdown.dropdown-arrow;
  @include dropdown.dropdown-collapse;
  padding-inline: 2px;
  margin-block: 10px;
  border-left: 3px solid var(--sidebar-main-color);

  &-arrow {
    color: var(--contrast-text-color);
    background-color: var(--sidebar-main-color);
  }

  &-header {
    gap: 10px;
    padding-left: 8px;
  }
}

.sidebar-mobile {
  position: sticky;
  display: none;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: var(--main-background-color);
  box-shadow: 0 0 3px 1px grey;
  border-top: 1px solid var(--border-color);
  scroll-margin-top: 3rem;
  z-index: 2;

  @media (max-width: 550px) {
    display: block;
  }
}

.filters-mobile {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.filter-mobile {
  // border-radius: 50%;
  height: 100%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-out;

  & p {
    font-size: 15px;
  }

  &:hover,
  &.active {
    background-color: var(--transparent-bg-color);
    cursor: pointer;
  }
}
