@use 'dropdown';

.stopwatch {
  position: sticky;
  bottom: 0;
  gap: 10px;
  grid-area: stopwatch;
  background-color: var(--main-background-color);
  z-index: 3;
  height: 60px;
  width: 100%;

  @media (max-width: 800px) {
    height: 50px;
    bottom: 0;
  }

  @media (max-width: 550px) {
    bottom: 50px;
    height: 50px;
  }
}

.progressbar {
  width: 100%;
  height: 10px;
  background-color: var(--progressbar-bg-color);
  position: relative;

  &-progress {
    background-color: cyan;
    opacity: 0.7;
    height: 10px;
    display: flex;
    align-items: center;

    &-countdown {
      color: var(--contrast-color);
      font-size: 13px;
      line-height: 11px;
      height: 13px;
      font-weight: 900;
      top: 0px;
      position: absolute;

      &.time {
        left: 8px;
      }

      &.time-left {
        right: 8px;
      }
    }
  }
}

.progressbar-controls {
  color: var(--text-color);
  display: flex;
  align-items: center;
  height: 50px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr min-content;

  &.fullscreen {
    grid-template-columns: repeat(3, min-content);
  }

  @media (max-width: 800px) {
    height: 40px;
    gap: 10px;

    & .logo-section {
      height: 35px;
      width: 35px;

      & .icon.medium {
        height: 30px;
        width: 30px;
      }

      & .icon.big {
        height: 35px;
        width: 35px;
      }
    }
  }
}

.progressbar-text {
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media (max-width: 800px) {
    padding-left: 0px;
  }
}

.stopwatch-icon {
  color: var(--text-color);
  transition:
    all 0.3s ease-out,
    color 0s;

  &:disabled,
  &[disabled] {
    opacity: 0.2;
    cursor: default;
    pointer-events: none;
  }
}

.progressbar-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: radial-gradient(closest-side, var(--main-background-color) 95%, transparent 96% 100%),
    conic-gradient(var(--color) var(--progress), var(--progressbar-bg-color) 0);

  &-countdown {
    color: var(--contrast-color);
    width: 130px;

    &.goal {
      font-size: 15px;
      width: min-content;
    }
  }

  &-projectname {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 310px;
    text-align: center;
  }

  @media (max-width: 400px) {
    width: 250px;
    height: 250px;

    &-projectname {
      width: 200px;
      font-size: 1.05em;
    }

    &-countdown {
      width: 120px;
      font-size: 1.9em;
    }
  }

}
