@use 'scrollbar';

.tasklists-navigation {
  @include scrollbar.scrollbar;
  background-color: iherit;
  display: flex;
  align-items: center;
  height: 50px;
  overflow-y: hidden;
  background-color: var(--main-background-color);
}

.tasklist {
  padding: 18px 36px 36px;
  width: min(1290px, 100%);
  margin-inline: auto;

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-tasks {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    padding-bottom: 5px;
  }

  @media (max-width: 1000px) {
    padding: 15px;
  }

  @media (max-width: 550px) {
    padding: 10px;
  }
}

@mixin task-list-item {
  background-color: var(--main-background-color);
  padding-inline: 10px;
  display: grid;
  grid-template-columns: 20px 1fr auto;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  min-height: 30px;
  cursor: pointer;
}

.task {
  @include task-list-item;
}

.add-task-btn {
  @include task-list-item;
  margin-top: 10px;
  background-color: var(--secondary-background-color);

  @media (max-width: 550px) {
    margin-top: 2px;
  }
}
