:root.light {
  color-scheme: light;
  --signature-color: #1d60c1;
  --bright-signature-color: #2375ea;
  --signature-color-transparent: #1d60c133;
  --calm-signature-color: #a4b9d7;
  --form-error-color: #d41a00;
  --support-color: black;
  --main-background-color: white;
  --secondary-background-color: #f6f8fa;
  --chooser-bg-color: #f6f8fa;
  --support-background-color: #efefef;
  --blank-cell-color: #e2e2e2;
  --blank-cell-color-rgb: rgb(239, 239, 239);
  --cell-shadow-color: transparent;
  --text-color: black;
  --text-color-transparent: #00000050;
  --landing-text-color: black;
  --landing-border-color: #aaa;
  --landing-border-color-inside: #aaa;
  --support-text-color: #606060;
  --contrast-text-color: white;
  --gradient-color-1: #23bcdb;
  --gradient-color-2: #8fe9ef;
  --gradient-color-3: #a59bcf;
  --bamboo: url('../assets/neohabit-background-cool-triple-v2.png');
  --auth-heatmap: url('../assets/heatmap8.png');
  --mini-logo: url('../logos/neohabit-logo-light.svg');
  --auth-transparent-bg-color: #00000035;
  --transparent-bg-color: #b0b0b0aa;
  --registration-field-active-bg-color: #009ba2;
  --registration-field-bg-color: transparent;
  --cell-border-color: transparent;
  --hover-cell-border-color: rgba(0, 0, 0, 0.7);
  --nonzero-cell-border-color: rgba(0, 0, 0, 0.15);
  --transparent-bg-color: rgba(0, 0, 0, 0.2);
  --button-text-color: #f9faf8;
  --button-bg-color: #bbb;
  --button-bg-lighter-color: #ddd;
  --border-color: #aaa;
  --important-border-color: #888;
  --progressbar-bg-color: #ccc;
  --datepicker-text-color: white;
  --negate-margin-block: 0px;
  --multiplier: 1;
}

:root.light-neon {
  --signature-color: #00a649;
  --gradient-color-1: #94ffc3;
  --gradient-color-2: #5fff84;
  --gradient-color-2: #34ff63;
  // --bamboo: url('../assets/archive/neohabit-background-lightish-green.png');
  // --gradient-color-2: #57dc76;
  // --gradient-color-2: #10d065;
}

:root.legacy {
  --signature-color: #144e12;
  --bright-signature-color: #43d64e;
  --signature-color-transparent: #144e1233;
  --calm-signature-color: #a8ecad;
  --gradient-color-1: #c0efa6;
  --gradient-color-2: #71c639;
  --gradient-color-3: #a7c4be;
  --registration-field-active-bg-color: #88cd6f;
  --registration-field-bg-color: #8ec07c;
  --bamboo: url('../assets/archive/neohabit-background-apple-full-3.png');
}

:root {
  color-scheme: dark;
  --signature-color: #00c4cd;
  --bright-signature-color: #00c4cd;
  --signature-color-transparent: #00c4cd33;
  --calm-signature-color: #008187;
  --form-error-color: #ff0f0f;
  --support-color: white;
  --main-background-color: #2d3333;
  --secondary-background-color: #22272e;
  --chooser-bg-color: #444;
  --support-background-color: #1c2128;
  --blank-cell-color: #242424;
  --blank-cell-color-rgb: rgb(36, 36, 36);
  --cell-shadow-color: #3c3c3c;
  --text-color: #bbb;
  --text-color-transparent: #bbbbbb70;
  --landing-text-color: #dedede;
  --landing-border-color: black;
  --landing-border-color-inside: #777;
  --support-text-color: #999;
  --contrast-text-color: black;
  --gradient-color-1: #009096; // cyan seems to be distractive
  --gradient-color-2: #1c2128;
  --gradient-color-3: #009096;
  --bamboo: url('../assets/neohabit-background-dark-v4.png');
  --auth-heatmap: url('../assets/heatmap8-dark.png');
  --mini-logo: url('../logos/neohabit-logo-dark.svg');
  --auth-transparent-bg-color: #00000099;
  --transparent-bg-color: #404040aa;
  --registration-field-active-bg-color: #009ba2;
  --registration-field-bg-color: #2d3333;
  --cell-border-color: transparent;
  --hover-cell-border-color: rgba(255, 255, 255, 0.7);
  --nonzero-cell-border-color: transparent;
  --transparent-bg-color: rgba(0, 0, 0, 0.3);
  --button-text-color: #f9faf8;
  --button-bg-color: #545454;
  --button-bg-lighter-color: #777;
  --border-color: #666;
  --important-border-color: #777;
  --progressbar-bg-color: #454545;
  --datepicker-text-color: black;
  --description-tooltip-bg-color: #202428;
  --description-tooltip-border-color: #909599;
  --negate-margin-block: 0px;
  --multiplier: 1;
}
