@mixin dropdown {
  position: relative;

  &-checkbox {
    display: none;

    &:checked ~ label > .icon {
      transform: none;
    }
  }

  &-container {
    display: grid;
    grid-auto-rows: 35px;
    gap: 3px;
    width: 100%;
    position: absolute;
    top: 80%;
    display: grid;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;
    pointer-events: none;
  }

  &-checkbox:checked ~ &-container {
    top: calc(100%);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  & label > .icon {
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    transform: rotate(90deg);
  }
}
