.heatmap-weekdays {
  display: inline-flex;
  flex-direction: column;
  grid-area: weekdays;

  &-weekday {
    line-height: 100%;
    font-size: calc((var(--cell-height) + 4px) * var(--multiplier) - 4px + 1px);
    height: calc((var(--cell-height) + 4px) * var(--multiplier) - 4px);
    font-weight: 600;
    border: 1px solid transparent;
    margin: 2px;
    vertical-align: middle;
    text-align: right;
  }
}

.heatmap-months {
  direction: ltr;
  display: flex;
  grid-area: months;

  &-month {
    width: var(--cell-width);
    height: var(--cell-height);
    line-height: 100%;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
    margin: 2px;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

.dates-container {
  direction: ltr;
  grid-area: date;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  @media (max-width: 380px) {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.dates-period {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  box-shadow: 0px 0px 4px 2px var(--signature-color);
  border-radius: 6px;
  height: 20px;

  &-picker {
    width: 115px;
    font-size: 15px;
    cursor: pointer;
  }

  @media (max-width: 450px) {
    flex-wrap: wrap;
    height: min-content;

    &-picker {
      width: 115px;
      padding: 0;
    }
  }
}

.habit-controls {
  width: min-content;
  display: grid;
  align-items: center;
  align-self: center;
  padding-inline: 3px;
  grid-auto-columns: 17px;
  grid-auto-flow: column;
  grid-gap: 2px;

  &.header {
    grid-area: settings;

    .overview-habit-button {
      height: 23px;
      padding: 0;
    }
  }
}
