.heatmap-weekdays {
  display: inline-flex;
  flex-direction: column;
  grid-area: weekdays;

  &-weekday {
    line-height: 100%;
    font-size: calc((var(--cell-height) + 4px) * var(--multiplier) - 4px + 1px);
    height: calc((var(--cell-height) + 4px) * var(--multiplier) - 4px);
    font-weight: 600;
    border: 1px solid transparent;
    margin: 2px;
    vertical-align: middle;
    text-align: right;
  }
}

.heatmap-months {
  direction: ltr;
  display: flex;
  grid-area: months;

  &-month {
    width: var(--cell-width);
    height: var(--cell-height);
    line-height: 100%;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
    margin: 2px;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

.dates-container {
  direction: ltr;
  grid-area: date;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  @media (max-width: 380px) {
    & > button:not(.left) {
      margin-left: -8px;
    }

    & > button.left {
      margin-right: -13px;
    }
  }
}

.dates-period {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  box-shadow: 0px 0px 4px 2px var(--signature-color);
  border-radius: 6px;
  height: 23px;

  &-picker {
    width: 120px;
    font-size: 15px;
    cursor: pointer;
  }

  & input {
    width: 120px;
    font-size: 15px;
    cursor: pointer;
    padding: 0px 0px 0px 25px;
  }

  @media (max-width: 450px) {
    flex-wrap: wrap;
    height: min-content;

    &-picker {
      width: 115px;
      padding: 0;
    }
  }
}

.dates-period-footer {
  padding-top: 5px;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@keyframes glow {
  0% {
    background-color: var(--calm-signature-color);
  }
  50% {
    background-color: var(--main-background-color);
  }
  100% {
    background-color: var(--calm-signature-color);
  }
}

.overview-centering.slide-1 {
  button > .icon {
    border-radius: 50%;
    animation: glow 3s linear infinite;
  }
  &
    > .overview-container
    > .overview
    > .overview-habits
    > .overview-habit
    > .habit-controls
    > .overview-habit-button {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide-2 {
  &
    > .overview-container
    > .overview
    > .overview-habits
    > .overview-habit
    > .habit-controls
    > .overview-habit-button:nth-child(n + 2) {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide-3 {
  &
    > .overview-container
    > .overview
    > .overview-habits
    > .overview-habit
    > .habit-controls
    > .overview-habit-button:not(:nth-child(6n + 2)) {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide-4 {
  &
    > .overview-container
    > .overview
    > .overview-habits
    > .overview-habit
    > .habit-controls
    > .overview-habit-button:not(:nth-child(6n + 3)) {
    pointer-events: none;
    opacity: 0.3;
  }
}

.overview-centering.slide-5 {
  &
    > .overview-container
    > .overview
    > .overview-habits
    > .overview-habit
    > .habit-controls
    > .overview-habit-button {
    pointer-events: none;
    opacity: 0.3;
  }
}

.habit-controls {
  width: min-content;
  display: grid;
  align-items: center;
  align-self: center;
  padding-inline: 3px;
  grid-auto-flow: column;
  grid-auto-columns: 17px;
  grid-gap: 2px;

  &.header {
    grid-area: settings;
    grid-auto-columns: 23px;
    grid-gap: 4px;
    justify-content: space-around;

    @media (max-width: 850px) {
      margin-left: 0;
      grid-gap: 15px;
    }

    .overview-habit-button {
      width: 23px;
      height: 23px;
      padding: 0;
    }
  }
}

.overview-habit-button {
  height: 17px;
  width: 17px;
  outline: none;
  cursor: pointer;

  &:hover {
    color: var(--color);
  }
}
