$cell-margin: 2px;

.dummy {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: calc(var(--cell-width) * var(--width) + 4px * calc(var(--width) - 1));
  margin: $cell-margin;
}

@mixin cell-common {
  position: relative;
  border: 1px solid transparent;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px var(--cell-shadow-color);
  height: calc(var(--height) * var(--multiplier) * (var(--cell-height) + 4px) - 4px);
  width: calc(var(--width) * (var(--cell-width) + 4px) - 4px);
  margin: $cell-margin;
  background-color: var(--blank-cell-color);
}

.cell {
  @include cell-common;
  margin-block: calc(2px - var(--negate-margin-block));

  &.dotted {
    background: repeating-conic-gradient(var(--color) 0% 27%, transparent 0% 100%) 50% / 3px 3px;
  }

  &.hundred {
    box-shadow:
      0px 0px 0px 1px var(--blank-cell-color),
      0 0 0 2px var(--cell-shadow-color);

    &:hover {
      box-shadow:
        0px 0px 0px 1px var(--cell-border-color),
        0px 0px 0px 1px var(--blank-cell-color),
        0 0 0 2px var(--cell-shadow-color);
      border-color: transparent;
    }
  }

  &:hover {
    border: 1px solid var(--cell-border-color);

    & .cell-numeric.target {
      color: var(--text-color);
      opacity: 1;
    }
  }

  &.fractured {
    // --shf: 4.9406564584124654e-324;
    --gap-decrement-column: 0;
    --gap-decrement-row: 0;
    --column-gap: calc(var(--cell-height) * (2 - var(--gap-decrement-column)) / 15);
    --row-gap: calc(var(--cell-height) * (2 - var(--gap-decrement-row)) / 15);
    background-color: var(--main-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    // overflow: hidden;
    box-shadow: none;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);

    & > * {
      box-shadow: 0px 0px 0px 1px var(--cell-shadow-color);
    }

    &:hover {
      border: none;

      & > * {
        border: 1px solid var(--cell-border-color);
      }
    }
  }
}

.cell-fraction {
  height: calc((var(--total-height) * (var(--cell-height) + 4px) - 4px - var(--row-gap) * (var(--height-fractions) - 1)) / var(--height-fractions));
  width: calc((var(--total-width) * (var(--cell-width) + 4px) - 4px - var(--column-gap) * (var(--width-fractions) - 1)) / var(--width-fractions));
  border-radius: 1px;
  position: relative;
  background-color: var(--blank-cell-color);
}

.cell-numeric {
  --font-size-minus: 0px;
  padding-top: 1px;
  font-size: calc(var(--cell-height) - max(var(--font-size-minus), var(--cell-height) - 30px) - 4px);
  text-align: center;
  height: min-content;
  width: min-content;
  font-weight: 600;
  vertical-align: middle;
  color: var(--numeric-text-color);
  z-index: 1;

  &.target {
    color: var(--text-color);
    opacity: 0.5;
  }
}

.cell-period {
  @include cell-common;

  @mixin shaped-cell {
    margin: -1px;
    height: calc(
      var(--cell-height) * var(--height) * var(--multiplier) + 4px *
        calc(var(--height) * var(--multiplier) - 1)
    );
    width: calc((var(--cell-width) + 5px) * var(--width) + 2px * calc(var(--width) - 1));
    border-radius: 1px;
    position: absolute;
    visibility: visible;
    background-color: inherit;
    box-shadow: 0px 0px 0px 1px var(--cell-shadow-color);
  }

  @mixin shadow-fix {
    display: block;
    background-color: var(--blank-cell-color);
    width: 2px;
    height: calc(100% + 1px);
    content: ' ';
    position: absolute;
  }

  &-before {
    @include shaped-cell;
    border-right: none;
    left: calc(-1 * var(--cell-height) - 4px);
    bottom: 0px;
  }

  &-after {
    @include shaped-cell;
    border-left: none;
    right: calc(-1 * var(--cell-height) - 4px);
    top: 0px;
  }

  &.hundred .cell-period-connector .cell-numeric {
    margin-left: -5px;
  }

  & .cell-period-connector .cell-numeric {
    margin-left: -3px;
  }

  &-connector {
    @include shaped-cell;
    margin-inline: 0px;
    left: -3px;
    width: 6px;
    top: calc(
      var(--cell-height) * var(--offset-top) * var(--multiplier) + 4px *
        calc(var(--offset-top) * var(--multiplier))
    );

    &:hover {
      box-shadow: none;
    }

    &:after {
      @include shadow-fix;
      top: -1px;
      right: -1px;
    }

    &:before {
      @include shadow-fix;
      top: 0px;
      left: -1px;
    }
  }

  &.wide {
    & .cell-period-before:after {
      @include shadow-fix;
      top: -1px;
      right: -1px;
    }
    & .cell-period-after:after {
      @include shadow-fix;
      top: 0px;
      left: -1px;
    }

    &:hover:not(.hundred) {
      border: 1px solid var(--cell-border-color);

      & > .cell-period-before {
        border: 1px solid var(--cell-border-color);
        border-right: none;
        box-shadow: none;

        &:after {
          display: none;
        }
      }

      & > .cell-period-after {
        border: 1px solid var(--cell-border-color);
        border-left: none;
        box-shadow: none;

        &:after {
          display: none;
        }
      }
    }
  }

  &.hollow {
    margin-inline: 0px;
    border-left: none;
    border-right: none;
    box-shadow: none;

    & .cell-period-before {
      width: var(--cell-height);
      left: calc(-1 * var(--cell-height) - 1px);
    }

    & .cell-period-after {
      width: var(--cell-height);
      right: calc(-1 * var(--cell-height) - 1px);
    }

    &:hover:not(.hundred) {
      border-top: 1px solid var(--cell-border-color);
      border-bottom: 1px solid var(--cell-border-color);

      & > .cell-period-before {
        border: 1px solid var(--cell-border-color);
      }

      & > .cell-period-after {
        border: 1px solid var(--cell-border-color);
      }

      & > .cell-period-connector {
        border-top: 1px solid var(--cell-border-color);
        border-bottom: 1px solid var(--cell-border-color);
        box-shadow: none;

        &:after,
        &:before {
          display: none;
        }
      }
    }
  }

  &.hundred {
    &:is(.wide),
    & .cell-period-before,
    & .cell-period-after,
    & .cell-period-connector {
      box-shadow:
        0px 0px 0px 1px var(--blank-cell-color),
        0 0 0 2px var(--cell-shadow-color);
    }

    & .cell-period-connector:before {
      height: calc(100% + 3px);
      top: -1px;
      left: -2px;
      width: 4px;
    }
    & .cell-period-connector:after {
      height: calc(100% + 3px);
      top: -2px;
      right: -2px;
      width: 4px;
    }

    &:hover .cell-period-connector {
      box-shadow:
        0px 0px 0px 1px var(--cell-border-color),
        0px 0px 0px 1px var(--blank-cell-color);
      border-color: transparent;
      &:before {
        @include shadow-fix;
        top: 0px;
        left: -1px;
      }
      &:after {
        @include shadow-fix;
        top: -1px;
        right: -1px;
      }
    }

    & .cell-period-before:after {
      height: calc(100% + 3px);
      width: 4px;
      top: -2px;
      right: -2px;
    }
    & .cell-period-after:after {
      height: calc(100% + 3px);
      width: 4px;
      top: -1px;
      left: -2px;
    }

    &:hover:is(.wide) {
      box-shadow:
        0px 0px 0px 1px var(--cell-border-color),
        0px 0px 0px 1px var(--blank-cell-color),
        0 0 0 2px var(--cell-shadow-color);
      border-color: transparent;

      & .cell-period-before,
      & .cell-period-after {
        box-shadow:
          0px 0px 0px 1px var(--cell-border-color),
          0px 0px 0px 1px var(--blank-cell-color);
        border-color: transparent;
      }
      & .cell-period-before:after {
        @include shadow-fix;
        top: -1px;
        right: -1px;
      }
      & .cell-period-after:after {
        @include shadow-fix;
        top: 0px;
        left: -1px;
      }
    }

    &:hover:is(.hollow) {
      & .cell-period-before,
      & .cell-period-after {
        box-shadow:
          0px 0px 0px 1px var(--cell-border-color),
          0px 0px 0px 1px var(--blank-cell-color),
          0 0 0 2px var(--cell-shadow-color);
        border-color: transparent;
      }
    }
  }
}

.cell-tip {
  padding: 7px;
  padding-inline: 10px;
  position: absolute;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  background-color: #545454;
  color: white;
  z-index: 5;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.hidden {
    top: -50px;
    visibility: hidden;
    pointer-events: none;
  }

  #cell-tip-actions-counter {
    text-align: center;
    display: grid;
    width: min-content;
    background-color: #777;
    border-radius: 3px;
    line-height: 14px;

    &:focus {
      background-color: #3c3c3c;
    }
  }

  &-actions {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 5px;
    align-items: center;

    &-controls {
      width: 100%;
      display: flex;
      align-items: center;
      align-self: center;
      gap: 1px;
    }
  }
}

.cell-tip-i {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 10px;

  &-hide {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 3px;
  }
}

.cell-add-dropdown {
  position: absolute;
  text-align: center;
  font-size: 12px;
  background-color: var(--main-background-color);
  color: var(--text-color);
  z-index: 3;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;
  width: min-content;
  height: 57px;
  box-shadow: 0 0 4px 2px var(--border-color);
  padding: 3px;

  &.target {
    height: 85px;
    padding: 5px;
  }

  &.hidden {
    visibility: hidden;
    display: none;
  }
}
