$cell-margin: 2px;

.dummy {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: calc(var(--cell-width) * var(--width) + 4px * calc(var(--width) - 1));
  margin: $cell-margin;
}

.cell {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: var(--cell-width);
  margin: $cell-margin;
  border-radius: 1px;
  position: relative;
  background-color: var(--support-background-color);

  &:hover {
    border: 1px solid var(--cell-border-color);
  }
}

.cell-period {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: calc(var(--cell-width) * var(--width) + 4px * calc(var(--width) - 1));
  border: 1px solid transparent;
  margin: $cell-margin;
  border-radius: 1px;
  position: relative;
  background-color: var(--support-background-color);

  @mixin shaped-cell {
    margin: -1px;
    height: calc(
      var(--cell-height) * var(--height) * var(--multiplier) + 4px *
        calc(var(--height) * var(--multiplier) - 1)
    );
    width: calc(16px * var(--width) + 2px * calc(var(--width) - 1));
    border-radius: 1px;
    position: absolute;
    visibility: visible;
    display: block;
    background-color: inherit;
  }

  &-before {
    @include shaped-cell;
    border-right: none;
    left: -15px;
    bottom: 0px;
  }

  &-after {
    @include shaped-cell;
    border-left: none;
    right: -15px;
    top: 0px;
  }

  &.whole {
    margin-inline: 0px;
    border-left: none;
    border-right: none;

    & .cell-period-before {
      width: 11px;
      left: -12px;
    }

    & .cell-period-after {
      width: 11px;
      right: -12px;
    }
  }

  &.wide:hover {
    border: 1px solid var(--cell-border-color);

    & > .cell-period-before {
      border: 1px solid var(--cell-border-color);
      border-right: none;
    }

    & > .cell-period-after {
      border: 1px solid var(--cell-border-color);
      border-left: none;
    }
  }

  &.whole:hover {
    border-top: 1px solid var(--cell-border-color);
    border-bottom: 1px solid var(--cell-border-color);

    & > .cell-period-before {
      border: 1px solid var(--cell-border-color);
    }

    & > .cell-period-after {
      border: 1px solid var(--cell-border-color);
    }
  }
}

.cell-tip {
  padding: 10px;
  position: absolute;
  text-align: center;
  font-size: 12px;
  background-color: #545454;
  color: white;
  z-index: 3;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;

  &.hidden {
    visibility: hidden;
  }
}

.cell-add-dropdown {
  position: absolute;
  text-align: center;
  font-size: 12px;
  background-color: #545454;
  color: white;
  z-index: 3;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;
  width: min-content;
  height: 40px;

  & .habit-form {
    padding: 5px;
  }

  &.hidden {
    visibility: hidden;
  }
}
