$cell-margin: 2px;

.dummy {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: calc(var(--cell-width) * var(--width) + 4px * calc(var(--width) - 1));
  margin: $cell-margin;
}

.cell {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: calc(var(--cell-width) * var(--width) + 4px * calc(var(--width) - 1));
  margin: $cell-margin;
  border-radius: 1px;
  position: relative;
  background-color: var(--support-background-color);

  &.dotted {
    background: repeating-conic-gradient(
        var(--color) 0% 27%,
        transparent 0% 100%
      )
      50% / 3px 3px;
  }

  &:hover {
    border: 1px solid var(--cell-border-color);
  }

  &.fractured {
    background-color: var(--main-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;

    &:hover {
      border: none;

      & > * {
        border: 1px solid var(--cell-border-color);
      }
    }
  }
}

.cell-fraction {
  height: calc((var(--cell-height) - 2px) * var(--height) * var(--multiplier));
  width: calc((var(--cell-width) - 2px) * var(--width));
  border-radius: 1px;
  position: relative;
}

.cell-period {
  height: calc(
    var(--cell-height) * var(--height) * var(--multiplier) + 4px *
      calc(var(--height) * var(--multiplier) - 1)
  );
  width: calc(var(--cell-width) * var(--width) + 4px * calc(var(--width) - 1));
  border: 1px solid transparent;
  margin: $cell-margin;
  border-radius: 1px;
  position: relative;
  background-color: var(--support-background-color);

  @mixin shaped-cell {
    margin: -1px;
    height: calc(
      var(--cell-height) * var(--height) * var(--multiplier) + 4px *
        calc(var(--height) * var(--multiplier) - 1)
    );
    width: calc(16px * var(--width) + 2px * calc(var(--width) - 1));
    border-radius: 1px;
    position: absolute;
    visibility: visible;
    display: block;
    background-color: inherit;
  }

  &-before {
    @include shaped-cell;
    border-right: none;
    left: -15px;
    bottom: 0px;
  }

  &-after {
    @include shaped-cell;
    border-left: none;
    right: -15px;
    top: 0px;
  }

  &-connector {
    @include shaped-cell;
    margin-inline: 0px;
    left: -3px;
    width: 6px;
    top: calc(
      var(--cell-height) * var(--offset-top) * var(--multiplier) + 4px *
        calc(var(--offset-top) * var(--multiplier))
    );
  }

  &.whole {
    margin-inline: 0px;
    border-left: none;
    border-right: none;

    & .cell-period-before {
      width: 11px;
      left: -12px;
    }

    & .cell-period-after {
      width: 11px;
      right: -12px;
    }
  }

  &.wide:hover {
    border: 1px solid var(--cell-border-color);

    & > .cell-period-before {
      border: 1px solid var(--cell-border-color);
      border-right: none;
    }

    & > .cell-period-after {
      border: 1px solid var(--cell-border-color);
      border-left: none;
    }
  }

  &.whole:hover {
    border-top: 1px solid var(--cell-border-color);
    border-bottom: 1px solid var(--cell-border-color);

    & > .cell-period-before {
      border: 1px solid var(--cell-border-color);
    }

    & > .cell-period-after {
      border: 1px solid var(--cell-border-color);
    }

    & > .cell-period-connector {
      border-top: 1px solid var(--cell-border-color);
      border-bottom: 1px solid var(--cell-border-color);
    }
  }
}

.cell-fraction {
}

.cell-tip {
  padding: 10px;
  position: absolute;
  text-align: center;
  font-size: 12px;
  background-color: #545454;
  color: white;
  z-index: 3;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;

  &.hidden {
    visibility: hidden;
  }
}

.cell-add-dropdown {
  position: absolute;
  text-align: center;
  font-size: 12px;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  z-index: 3;
  border-radius: 10px;
  visibility: visible;
  white-space: nowrap;
  width: min-content;
  height: 57px;
  border: 1px solid var(--border-color);
  padding: 3px;

  &.target {
    height: 85px;
    padding: 5px;
  }

  &.hidden {
    visibility: hidden;
  }
}
