.neohabit {
  content: '';

  &:before {
    color: #144e12;
    content: 'neo';
  }

  &:after {
    color: black;
    content: 'habit';
  }
}

.icon {
  height: 30px;
  width: 30px;
  justify-self: center;

  &:hover {
    cursor: pointer;
  }
}

.centering {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 20px;
  width: 20px;
}

.project-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid green;
}

.ribbon {
  position: absolute;
  width: 80px;
  height: 80px;

  & span {
    position: relative;
    display: block;
    width: 110px;
    background-color: #144e12;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 12px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    padding-inline: 25px 30px;
  }
}

.ribbon-top-right {
  top: 0;
  right: 0;

  & span {
    left: 0px;
    top: 15px;
    transform: rotate(45deg);
  }
}

.ribbon-raw span {
  padding-inline: 35px 30px;
  background-color: #A76214;
}
