.neohabit {
  content: '';

  &:before {
    color: var(--signature-color);
    content: 'Neo';
  }

  &:after {
    color: var(--support-color);
    content: 'habit';
  }
}

.icon {
  height: 30px;
  width: 30px;
  justify-self: center;

  &.damn {
    height: 120px;
    width: 120px;
  }

  &.huge {
    height: 80px;
    width: 80px;
  }

  &.bigger {
    height: 50px;
    width: 50px;
  }

  &.big {
    height: 40px;
    width: 40px;
  }

  &.medium {
    height: 35px;
    width: 35px;
  }

  &.small {
    height: 25px;
    width: 25px;
  }

  &.smaller {
    height: 20px;
    width: 20px;
  }

  &.tiny {
    height: 16px;
    width: 16px;
  }

  &.smol {
    height: 15px;
    width: 15px;
  }

  &:hover {
    cursor: pointer;
  }

  &.circle {
    border-radius: 50%;
  }
}

.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

.centering {
  display: grid;
  justify-items: center;
  align-content: center;
  height: min-content;
  width: min-content;
}

.habit-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  color: transparent;
  background-color: var(--signature-color);
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--signature-color);
  background-color: var(--signature-color-transparent);
  flex: 0 0 20px;
}

input[type='checkbox']:checked.checkbox {
  background: radial-gradient(var(--signature-color) 30%, var(--signature-color-transparent) 40%);
}

.ribbon {
  position: absolute;
  width: 80px;
  height: 80px;

  & span {
    position: relative;
    display: block;
    width: 110px;
    background-color: var(--signature-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font:
      700 12px/1 'Lato',
      sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    padding-inline: 25px 30px;
  }
}

.ribbon-top-right {
  top: 0;
  right: 0;

  & span {
    left: 0px;
    top: 15px;
    transform: rotate(45deg);
  }
}

.ribbon-raw span {
  padding-inline: 35px 30px;
  background-color: #a76214;
}

.ribbon-top {
  top: 0;
  width: 100%;
  height: 30px;

  & span {
    width: 100%;
    text-align: center;
    padding-inline: 0px;
  }
}

.back-ref {
  & > a {
    color: var(--signature-color);
    text-decoration: none;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }
}

.pfp {
  border-radius: 50%;
  cursor: pointer;
  content: var(--mini-logo);

  &.small {
    height: 50px;
    width: 50px;
  }

  &.big {
    height: 75px;
    width: 75px;
  }

  &.tiny {
    height: 40px;
    width: 40px;
  }
}

.account-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 26px 26px;
  align-items: center;
  column-gap: 10px;
  padding-top: 10px;

  & > .pfp {
    grid-row: span 2;
  }

  & > p {
    line-height: 1em;
  }
}

.account-username {
  font-size: 0.9rem;
}

.button-default {
  width: min-content;
  font-size: 80%;
  color: var(--button-text-color);
  background-color: var(--signature-color);
  padding: 8px 30px;
  border-radius: 7px;
  border: 2px solid transparent;
  font-weight: bold;
  height: min-content;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.big {
    font-size: 100%;
    padding: 3px 32px;
    border-radius: 10px;
  }

  &.muted {
    color: var(--text-color);
    border: 2px solid var(--border-color);
    background-color: var(--main-background-color);
  }

  &.calm {
    background-color: var(--calm-signature-color);
  }

  &.active {
    background-color: var(--calm-signature-color);
    border: 2px solid var(--signature-color);
  }

  &.nowrap {
    white-space: nowrap;
  }

  &.stretch {
    width: 100%;
  }

  &.cancel {
    color: var(--support-color);
    background-color: var(--button-bg-color);
  }

  &-input {
    padding-inline: 8px;
    cursor: text;
  }

  &.onboarding {
    width: 150px;

    @media (max-width: 450px) {
      width: 100px;
    }

    @media (max-width: 300px) {
      width: 75px;
    }
  }
}

.return-button {
  margin-left: 10px;
  margin-right: 0;
}

.react-colorful {
  height: 150px !important;
  width: 170px !important;

  @media (max-width: 700px) {
    height: 150px !important;
    width: 150px !important;
  }

  @media (max-width: 420px) {
    height: 100px !important;
    width: 100px !important;
  }
}
