@mixin dropdown {
  position: relative;

  &-checkbox {
    display: none;
  }

  &-container {
    display: grid;
    gap: 3px;
    width: 100%;
    position: absolute;
    top: 80%;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    // transition: all 0.4s ease-out;
    pointer-events: none;

    &.active {
      grid-auto-rows: 35px;
      top: calc(100%);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-loader {
    position: absolute;
    top: 100px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

@mixin dropdown-arrow {
  &-arrow {
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8), opacity 0s,
      color 0s;
    transform: rotate(-90deg);

    &.active {
      transform: none;
    }
  }
}

@mixin dropdown-collapse {
  &-container {
    position: relative;
    display: none;

    &.active {
      display: contents;
    }
  }
}
