.editor {
  grid-area: editor;
  padding: 18px 36px 36px;
  width: min(800px, 100%);
  margin-inline: auto;

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-list {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    padding-bottom: 5px;
  }
}

@mixin editor-list-item {
  padding-inline: 10px;
  display: grid;
  grid-template-columns: 20px 1fr auto;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #bbb;
  min-height: 30px;
  cursor: pointer;
}

.task {
  @include editor-list-item;
  background-color: white;

  &-name {
    text-align: left;
  }
}

.add-task-btn {
  @include editor-list-item;
  text-align: left;
}

.add-task-icon {
  transform: scale(1.3);
}
