$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

.habits {
  grid-area: main;
  padding: 18px 36px 36px;
  margin-inline: auto;

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-list {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    padding-bottom: 5px;
  }
}

.timeline {
  // overflow: hidden;
  --multiplier: 1;
  position: relative;
  display: grid;
  grid-template-areas: 'months months', 'weekdays cells';
  grid-template-rows: $cell-height calc(
      (#{$cell-height} + #{$cell-margin} * 2) * 7 * var(--multiplier)
    );
  // grid-template-columns: calc(#{$cell-weekdays-width} * var(--multiplier)) calc(
  //     45 * 15px
  //   );
  grid-template-columns: min-content calc(
      45 * 15px
    );
  column-gap: 15px;
  row-gap: 2px;

  .timeline-months {
    // grid-area: months;
    display: flex;
    // gap: calc(#{$cell-margin} * 2);
    gap: 5px;
    margin-inline: 2px;

    &-month {
      width: $cell-width;
      line-height: 100%;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: 600;
    }

    .Jan ~ .Jan,
    .Feb ~ .Feb,
    .Mar ~ .Mar,
    .Apr ~ .Apr,
    .May ~ .May,
    .Jun ~ .Jun,
    .Jul ~ .Jul,
    .Aug ~ .Aug,
    .Sep ~ .Sep,
    .Oct ~ .Oct,
    .Nov ~ .Nov,
    .Dec ~ .Dec {
      visibility: hidden;
    }
  }

  .timeline-weekdays {
    // grid-area: weekdays;
    display: inline-flex;
    flex-direction: column;

    &-weekday {
      line-height: 100%;
      font-size: calc(#{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1) + 1px);
      height: calc(#{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1));
      font-weight: 600;
      border: 1px solid transparent;
      margin: $cell-margin;
      vertical-align: middle;
    }
  }

  .timeline-cells {
    // grid-area: cells;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    // position: absolute;
    // left: 0px;

    &-cell {
      flex: 0 0 1;
      height: calc(11px * var(--height) * var(--multiplier) + 4px * calc(var(--height) * var(--multiplier) - 1));
      width: $cell-width;
      // border: 1px solid rgba(0, 0, 0, 0.1);
      margin: $cell-margin;
      border-radius: 1px;
      background-color: rgba(0, 0, 0, 0.05);
      position: relative;

      &.offset--2:before {
        left: 0px;
      }

      &.offset--1:before {
        left: -50px;
      }

      &.offset-1:before {
        left: -145px;
      }

      &.offset-2:before {
        left: -190px;
      }

      &:before {
        content: attr(data-attr);
        padding: 10px;
        position: absolute;
        bottom: -45px;
        visibility: hidden;
        left: -100px;
        width: 200px;
        text-align: center;
        font-size: 13px;
        background-color: #545454;
        color: white;
        z-index: 3;
        border-radius: 10px;
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);

        &:before {
          visibility: visible;
        }
      }
    }

    &-cell-period {
      flex: 0 0 1;
      // border: 1px solid rgba(0, 0, 0, 0.1);
      height: calc(11px * var(--height) * var(--multiplier) + 4px * calc(var(--height) * var(--multiplier) - 1));
      width: calc(11px * var(--width) + 4px * calc(var(--width) - 1));
      border: 1px solid rgba(0, 0, 0, 0.3);
      border: 1px solid transparent;
      margin: $cell-margin;
      border-radius: 1px;
      background-color: rgba(0, 0, 0, 0.05);
      position: relative;

      &.whole {
        margin-inline: 0px;
      }

      &-before {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border: 1px solid transparent;
        border-right: none;
        margin: -1px;
        height: calc(11px * var(--height) * var(--multiplier) + 4px * calc(var(--height) * var(--multiplier) - 1));
        width: calc(16px * var(--width) + 2px * calc(var(--width) - 1));
        position: absolute;
        left: -15px;
        bottom: 0px;
        visibility: visible;
        display: block;
        background-color: inherit;
      }

      &-after {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border: 1px solid transparent;
        border-left: none;
        margin: -1px;
        height: calc(11px * var(--height) * var(--multiplier) + 4px * calc(var(--height) * var(--multiplier) - 1));
        width: calc(16px * var(--width) + 2px * calc(var(--width) - 1));
        // width: 16px;
        position: absolute;
        right: -15px;
        top: 0px;
        visibility: visible;
        display: block;
        background-color: inherit;
      }

      &.whole .timeline-cells-cell-period-before {
        width: 11px;
        left: -13px;
      }

      &.whole .timeline-cells-cell-period-after {
        width: 11px;
        right: -13px;
      }

      &:before {
        content: attr(data-attr);
        padding: 10px;
        position: absolute;
        visibility: hidden;
        // left: -100px;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        // margin-top: auto;
        // margin-bottom: auto;
        // top: 0;
        // bottom: 0;
        bottom: -95px;
        width: 200px;
        height: min-content;
        text-align: center;
        font-size: 13px;
        background-color: #545454;
        color: white;
        z-index: 3;
        border-radius: 10px;
      }

      &.whole {
        border: none;

        & > .timeline-cells-cell-period-before {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border: 1px solid transparent;
        }

        & > .timeline-cells-cell-period-after {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border: 1px solid transparent;
        }
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);

        &.whole {
          border: none;

          & > .timeline-cells-cell-period-before {
            border: 1px solid rgba(0, 0, 0, 0.3);
          }

          & > .timeline-cells-cell-period-after {
            border: 1px solid rgba(0, 0, 0, 0.3);
          }
        }

        & > .timeline-cells-cell-period-before {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-right: none;
          margin: -1px;
        }

        & > .timeline-cells-cell-period-after {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-left: none;
          margin: -1px;
        }

        &:before {
          visibility: visible;
        }
      }
    }
  }
}
