.page-habit {
  display: grid;
  grid-template: 125px min-content 1fr / 5fr;
}

.habitpage-header {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.habit-overview {
  padding: 18px 36px 36px;
  width: min(980px, 100%);
  margin-inline: auto;
}
