$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

.habits {
  grid-area: main;
  padding: 18px 36px 36px;
  margin-inline: auto;
  width: min(100%, 950px);

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-list {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    padding-bottom: 5px;
  }
}

.habit {
  position: relative;
  overflow: hidden;
  height: calc((#{$cell-height} + #{$cell-margin} * 2) * 21);
  width: 100%;
}

.heatmap {
  --multiplier: 1;
  position: absolute;
  right: 0px;
  display: grid;
  grid-template-rows: $cell-height calc(
      (#{$cell-height} + #{$cell-margin} * 2) * 7 * var(--multiplier)
    );
  grid-template-columns: min-content calc(53 * 15px);
  row-gap: 5px;

  .heatmap-months {
    display: flex;
    grid-column: 2;
    grid-row: 1;

    &-month {
      width: $cell-width;
      line-height: 100%;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: 600;
      margin: $cell-margin;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }

  .heatmap-weekdays {
    display: inline-flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;

    &-weekday {
      line-height: 100%;
      font-size: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 *
          (var(--multiplier) - 1) + 1px
      );
      height: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 *
          (var(--multiplier) - 1)
      );
      font-weight: 600;
      border: 1px solid transparent;
      margin: $cell-margin;
      vertical-align: middle;
    }
  }

  .heatmap-cells {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    .dummy {
      height: calc(
        11px * var(--height) * var(--multiplier) + 4px *
          calc(var(--height) * var(--multiplier) - 1)
      );
      width: $cell-width;
      margin: $cell-margin;
    }

    @mixin cell-info {
      content: attr(data-attr);
      padding: 10px;
      position: absolute;
      visibility: hidden;
      width: 200px;
      text-align: center;
      font-size: 13px;
      background-color: #545454;
      color: white;
      z-index: 3;
      border-radius: 10px;
    }

    &-cell {
      height: calc(
        11px * var(--height) * var(--multiplier) + 4px *
          calc(var(--height) * var(--multiplier) - 1)
      );
      width: $cell-width;
      margin: $cell-margin;
      border-radius: 1px;
      position: relative;

      &.offset--2:before {
        left: 0px;
      }

      &.offset--1:before {
        left: -50px;
      }

      &.offset-1:before {
        left: -145px;
      }

      &.offset-2:before {
        left: -190px;
      }

      &:before {
        @include cell-info;
        content: attr(data-attr);
        padding: 10px;
        position: absolute;
        bottom: -45px;
        visibility: hidden;
        left: -100px;
      }

      &:hover:before {
        visibility: visible;
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
    }

    &-cell-period {
      height: calc(
        11px * var(--height) * var(--multiplier) + 4px *
          calc(var(--height) * var(--multiplier) - 1)
      );
      width: calc(11px * var(--width) + 4px * calc(var(--width) - 1));
      border: 1px solid transparent;
      margin: $cell-margin;
      border-radius: 1px;
      position: relative;

      @mixin shaped-cell {
        margin: -1px;
        height: calc(
          11px * var(--height) * var(--multiplier) + 4px *
            calc(var(--height) * var(--multiplier) - 1)
        );
        width: calc(16px * var(--width) + 2px * calc(var(--width) - 1));
        position: absolute;
        visibility: visible;
        display: block;
        background-color: inherit;
      }

      &-before {
        @include shaped-cell;
        border-right: none;
        left: -15px;
        bottom: 0px;
      }

      &-after {
        @include shaped-cell;
        border-left: none;
        right: -15px;
        top: 0px;
      }

      &:before {
        @include cell-info;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        bottom: -95px;
        height: min-content;
      }

      &:hover:before {
        visibility: visible;
      }

      &.whole {
        margin-inline: 0px;
        border-left: none;
        border-right: none;

        & .heatmap-cells-cell-period-before {
          width: 11px;
          left: -12px;
        }

        & .heatmap-cells-cell-period-after {
          width: 11px;
          right: -12px;
        }
      }

      &.wide:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);

        & > .heatmap-cells-cell-period-before {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-right: none;
        }

        & > .heatmap-cells-cell-period-after {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-left: none;
        }
      }

      &.whole:hover {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        & > .heatmap-cells-cell-period-before {
          border: 1px solid rgba(0, 0, 0, 0.3);
        }

        & > .heatmap-cells-cell-period-after {
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
