$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

.habits {
  grid-area: main;
  padding: 18px 36px 36px;
  background-color: var(--support-background-color);

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & h3 {
    }
  }

  &-list {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    padding-bottom: 5px;
    height: min-content;
  }
}

.habit {
  --negate-margin-block: 0px;
  overflow: hidden;
  position: relative;
  height: calc(
    32px + 5px + #{$cell-height} + 5px + (#{$cell-height} + #{$cell-margin} * 2) * 7 * var(
        --multiplier
      ) + 5px
  );
  width: min(
    100%,
    calc(
      var(--weeks) * 15px - 2px + 15px +
        (#{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1)) * 2.5
    )
  );
  background-color: var(--main-background-color);
  padding-block: 5px;
  padding-inline: 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  margin-inline: auto;

  &.loading {
    background-color: var(--support-background-color);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-button {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-form {
    display: flex;
    align-items: center;
    width: min-content;
    gap: 8px;

    &.target {
      width: 320px;
      flex-wrap: wrap;
      gap: 3px;

      & > button {
        margin-left: auto;
      }

      & > span {
        white-space: pre;
      }
    }

    & > div,
    & > button {
      border: 1px solid var(--important-border-color);
      border-radius: 10px;
      padding: 0px;
    }

    &-input {
      padding: 3px;
      height: min-content;
      font-size: 12px;
      line-height: 12px;
    }

    &-counter {
      width: 50px;
    }
  }
}

.heatmap {
  overflow-x: scroll;
  position: absolute;
  right: 5px;
  display: grid;
  width: min(
    100%,
    calc(
      var(--weeks) * 15px - 2px + 15px +
        (#{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1)) * 2.5
    )
  );
  direction: rtl;
  // note that parent direction is rtl, that's why the right and left are swapped
  grid-template-areas:
    'months   .'
    'cells     weekdays';
  grid-template-rows: $cell-height calc(
      (#{$cell-height} + #{$cell-margin} * 2) * 7 * var(--multiplier)
    );
  grid-template-columns: calc(var(--weeks) * 15px - 2px) min-content;
  row-gap: 5px;

  .heatmap-cells {
    direction: ltr;
    grid-area: cells;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}
