$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

.habit {
  &-button {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-form {
    display: flex;
    align-items: center;
    width: min-content;
    gap: 8px;

    &.target {
      width: 320px;
      flex-wrap: wrap;
      gap: 3px;

      & > button {
        margin-left: auto;
      }

      & > span {
        white-space: pre;
      }
    }

    & > div,
    & > button {
      border: 1px solid var(--important-border-color);
      border-radius: 10px;
      padding: 0px;
    }

    &-input {
      padding: 3px;
      height: min-content;
      font-size: 12px;
      line-height: 12px;
    }

    &-counter {
      width: 50px;
    }
  }
}

.heatmap {
  overflow-x: scroll;
  position: absolute;
  right: 5px;
  display: grid;
  width: min(
    100%,
    calc(
      var(--weeks) * 15px - 2px + 15px +
        (#{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1)) * 2.5
    )
  );
  direction: rtl;
  // note that parent direction is rtl, that's why the right and left are swapped
  grid-template-areas:
    'months   .'
    'cells     weekdays';
  grid-template-rows: $cell-height calc(
      (#{$cell-height} + #{$cell-margin} * 2) * 7 * var(--multiplier)
    );
  grid-template-columns: calc(var(--weeks) * 15px - 2px) min-content;
  row-gap: 5px;

  .heatmap-cells {
    direction: ltr;
    grid-area: cells;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}

.habit-heatmap-container {
  --negate-margin-block: 0px;
  direction: rtl;
  position: relative;
  overflow-y: hidden;
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding-right: 5px;
  height: calc(20px + 15px * 7 * var(--multiplier));
  width: min(100%, calc(var(--weeks) * 15px + 125px));

}

.habit-heatmap {
  direction: ltr;
  --multiplier: 1;
  position: absolute;
  display: grid;
  grid-template-areas:
    '.        months'
    'weekdays cells';
  grid-template-rows: $cell-height calc(15px * 7 * var(--multiplier));
  grid-template-columns: min-content calc(var(--weeks) * 15px - 2px);
  row-gap: 4px;
}
