$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

.habits {
  grid-area: main;
  padding: 18px 36px 36px;
  margin-inline: auto;
  width: min(100%, 980px);
  background-color: var(--support-background-color);

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-list {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    padding-bottom: 5px;
    height: min-content;
  }
}

.habit {
  overflow: hidden;
  position: relative;
  height: calc((#{$cell-height} + #{$cell-margin} * 2) * 18);
  background-color: var(--main-background-color);
  padding-block: 5px;
  padding-inline: 12px;
  border-radius: 10px;
  border: 1px solid #bbb;

  &.loading {
    background-color: var(--support-background-color);
    border-radius: 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-button {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-form {
    display: flex;
    gap: 8px;

    & > * {
      border: 1px solid #343434;
      border-radius: 10px;
      padding: 0px;
    }

    &-input {
      padding: 5px;
      height: min-content;
    }

    &-counter {
      width: 50px;
    }
  }
}

.heatmap {
  --multiplier: 1;
  overflow-x: scroll;
  position: absolute;
  right: 5px;
  display: grid;
  width: min(100%, 980px);
  direction: rtl;
  grid-template-rows: $cell-height calc(
      (#{$cell-height} + #{$cell-margin} * 2) * 7 * var(--multiplier)
    );
  grid-template-columns: calc(55 * 15px) min-content ;
  row-gap: 5px;

  .heatmap-months {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    direction: ltr;

    &-month {
      width: $cell-width;
      line-height: 100%;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: 600;
      margin: $cell-margin;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }

  .heatmap-weekdays {
    display: inline-flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding-left: 5px;

    &-weekday {
      line-height: 100%;
      font-size: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 *
          (var(--multiplier) - 1) + 1px
      );
      height: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 *
          (var(--multiplier) - 1)
      );
      font-weight: 600;
      border: 1px solid transparent;
      margin: $cell-margin;
      vertical-align: middle;
    }
  }

  .heatmap-cells {
    direction: ltr;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}
