$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

#content-landing {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  background-color: white;
}

.landing {
  background-image: var(--bamboo);
  box-shadow: inset 0px 0px 277px 3px #4c3f37;
}

.landing-header {
  width: calc(100vw - 2em);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-links {
    color: var(--support-color);
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
  }

  &-container {
    display: flex;
    justify-content: center;
    height: 75px;
    background: linear-gradient(
      0.1turn,
      var(--gradient-color-1),
      var(--gradient-color-2) 45% 60%,
      var(--gradient-color-3)
    );
    align-items: center;
  }
}

.landing-intro {
  position: relative;
  height: calc(100vh - 75px);
  // height: calc(15px * 30);
  overflow: hidden;

  &-text {
    font-size: 3rem;
    position: absolute;
    width: min(100%, 700px);
    z-index: 4;
    top: 0;
    bottom: 0;
    margin: auto 50px;
    padding: 30px;
    height: min-content;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: var(--main-background-color);
    // border-radius: 30px;
    border-radius: 3px;
  }
}

.landing-heatmap-cells {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc((#{$cell-height} + #{$cell-margin} * 2) * 14);
  height: 105vh;
  width: 100vw;

  &-cell {
    height: $cell-height;
    width: $cell-width;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    margin: $cell-margin;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.landing-about {
  height: 105vh;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;

  &-text {
    max-width: 65ch;
    margin: 0 auto;
    padding: 30px;

    &-header {
      text-align: center;
    }

    & p {
      padding-block: 10px;
      // color: #545454;
      color: var(--text-color);
    }
  }
}

.landing-features {
  &-content {
    min-height: 105vh;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    background-color: var(--main-background-color);
    padding-inline: 40px;
    height: 500px;
    width: min(1100px, 100% - 3em);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  &-title {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
  }

  &-section {
    display: flex;
    gap: 30px;
  }
}

.landing-features {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  height: 100%;
  gap: 10px;
}

.landing-feature {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 3px solid var(--border-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-container {
    height: 300px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.landing-projects {
  background-color: var(--border-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: min(100%, 1300px);
  height: min(calc(100% - 20px), 700px);
  justify-content: center;
  gap: 4px;
  margin: 10px;
}

.landing-project {
  background-color: var(--main-background-color);
  flex: 1 0 0;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;

  &-title {
    text-align: center;
  }
}

.landing-cell-container {
  --total-width: 1;
  display: flex;
  height: 50px;
  width: calc(50px * var(--total-width) + (var(--total-width) - 1));
  --cell-height: 45px;
  --cell-width: 45px;
  overflow: hidden;
  margin: 15px;
}

.landing-footer {
  &-container {
    display: flex;
    justify-content: center;
    height: 75px;
    background: linear-gradient(
      0.1turn,
      var(--gradient-color-1),
      var(--gradient-color-2) 45% 60%,
      var(--gradient-color-3)
    );
    align-items: center;
  }
}

.landing-lastcall {
  position: relative;
  height: 100vh;
  // height: calc(15px * 30);
  overflow: hidden;

  &-container {
    // font-size: 3rem;
    position: absolute;
    width: min(100%, 700px);
    z-index: 4;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 100px;
    padding: 30px;
    height: min-content;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: var(--main-background-color);
    // border-radius: 30px;
    border-radius: 3px;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  &-title {
    // flex: 0 0 70%;
    font-size: 3rem;
    white-space: nowrap;
  }
}

.landing-contact {
  display: inline;
  text-decoration: none;
  color: var(--signature-color);
}
