@mixin sidebar-hidden {
  width: 0px;
  opacity: 0;
  position: relative;
  visibility: hidden;
  display: none;
  padding: 15px 0;
}

@mixin overview-header-small {
  grid-template-columns: 1fr min-content;
  grid-template-rows: 30px;
  grid-template-areas:
    'name settings'
    'date settings';
  gap: 3px;
  padding-bottom: 5px;
}

#content {
  min-height: calc(100vh - 60px);
  width: 100%;
  display: grid;
  grid-template-areas:
    'menu    menu'
    'sidebar main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 80px 1fr;
  // background-color: #efefef;
  @media (max-width: 550px) {
    grid-template-areas:
    'menu    menu'
    'main main';
    .sidebar {
      @include sidebar-hidden;

      &-mobile {
        visibility: visible;
      }

      &-toggle-container {
        opacity: 0;
        visibility: hidden;
        width: 0px;
      }
    }

    .logo {
      padding-left: 5px;
      text-align: left;
    }

    .menu {
      grid-template-columns: 0px 1fr 45px 45px;
    }

    // padding: 18px 9px;
    // padding-bottom: 90px;

    .sidebar-projects-container,
    .sidebar-habits-container {
      visibility: hidden;
    }
  }

  @media (max-width: 750px) {
    .overview-header {
      @include overview-header-small;
    }
  }

  @media (min-width: 550px) {
    // padding: 18px;

    .sidebar {
      width: 250px;
    }

    .sidebar-hidden {
      // width: 75px;
      width: 80px;
      padding: 5px;
      overflow: hidden;
      // @include sidebar-hidden;

      & .navigation {
        grid-auto-rows: 60px;
        gap: 5px;
      }

      & .navigation-section {
        display: grid;
        grid-template-rows: 25px 20px;
        grid-template-columns: max-content;
        gap: 5px;
        font-size: 16px;
        text-align: center;
        justify-content: center;
        padding-block: 5px;
        border-radius: 10px;
        padding-inline: 0px;
      }

      & .ribbon {
        visibility: visible;
      }

      & .filters,
      & .sidebar-projects,
      & .sidebar-projects-container,
      & .sidebar-habits,
      & .sidebar-habits-container {
        visibility: hidden;
        display: none;
      }

      & .sidebar-projects-arrow,
      & .sidebar-habits-arrow {
        opacity: 0;
      }
    }
  }

  @media (min-width: 700px) {
    // padding: 18px 36px 36px;
  }
}
