#content {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'menu    menu'
    'sidebar editor';
  grid-template-rows: 80px 1fr;
  grid-template-columns: min-content 1fr;
  background-color: #efefef;
  @media (max-width: 550px) {
    .sidebar {
      width: 0px;
      opacity: 0;
      position: relative;
      visibility: hidden;
      padding: 15px 0;
    }

    .editor {
      padding: 18px 9px;
    }
  }

  @media (min-width: 550px) {
    .sidebar {
      width: 180px;
    }

    .editor {
      padding: 18px;
    }
  }

  @media (min-width: 700px) {
    .sidebar {
      width: 270px;
    }

    .editor {
      padding: 18px 36px 36px;
    }
  }
}
