#content-signup {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}

.sidebar-auth {
  display: block;
  flex: 1 1 auto;
  background-image: url("../assets/heatmap.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-color: #EFEFEF;
  width: min(66.84vh, 100vw);

  &-header {
    margin-block: 10%;
    text-align: center;
    padding: 1em;
    background-color: #b0b0b0aa;
  }
}

.registration-container {
  flex: 10 1 auto;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 5px;
  background: linear-gradient(0.15turn, #C0EFA6, #71C639, #A7C4BE);
  width: min(500px, 100%);
}

.auth-intro {
  max-width: 70ch;
  padding-inline: 2em;
  flex: 2;
  padding-top: 20px;
}

.paragraph {
  margin-block: 1em;
}

.registration {
  padding-inline: 2em;
  flex: 2;
  background: linear-gradient(#71C639, #A7C4BE);
  padding-block: 1em;
  box-shadow: 0 3px 17px rgb(33, 33, 33);
}

.login-ref {
  padding: 1em 2em;

  & > a {
    color: #144e12;
    text-decoration: none;
  }
}

.registration-fields {
  max-width: 70ch;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.registration-fields > div {
  flex: 1 1 300px;
}

.registration-field {
  width: 100%;
  height: 36px;
  background-color: #8EC07C;
  border-radius: 10px;
  border: 1px solid #144e12;
  padding: 5px 10px;

  &:focus {
    border: 1px solid #2EB329;
    background-color: #88CD6F;
  }

  &:invalid {
  }

  &:valid {
    background-color: #88CD6F;
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.icon-password {
  height: 27px;
  width: 27px;
  margin-left: -36px;
  z-index: 1;
}

.create-acc-btn {
  color: #F9FAF8;
  background-color: #144e12;
  padding: 5px 32px;
  border: 3px white;
  border-radius: 10px;
  font-weight: bold;
  height: auto;
}
