$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;
$cell-weekdays-width: 33px;

.logonh {
  grid-area: main;
  padding: 4rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: min-content auto;
  height: min-content;

  &-container {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin: 1.5rem;
  }
}

.logo-heatmap {
  overflow: hidden;
  position: relative;
  height: calc((#{$cell-height} + #{$cell-margin} * 2) * 14);
  width: calc(12 * 15px);

  &-body {
    display: flex;
    position: absolute;
    right: 0px;
  }

  &-cells {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc((#{$cell-height} + #{$cell-margin} * 2) * 14);
    width: calc(12 * 15px);
  }

  &-cells-cell {
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.bamboo {
  overflow: hidden;
  width: 100vw;
  height: 120vh;

  &-body {
    display: flex;
  }

  &-cells {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 120vh;
  }
}

.logomini-heatmap {
  overflow: hidden;
  position: relative;
  height: calc((20px + 1px * 2) * 4);
  width: calc((20px + 1px * 2) * 4);

  &-body {
    display: flex;
    position: absolute;
    right: 0px;
  }

  &-cells {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc((20px + 1px * 2) * 4);
    width: calc((20px + 1px * 2) * 4);
  }
}
