@import 'animations';

.menu {
  @include dropdown;
  padding-bottom: auto;
  grid-area: menu;
  width: 100vw;
  padding-block: 15px;
  background: linear-gradient(0.1turn, #c0efa6, #71c639 45% 60%, #a7c4be);
  z-index: 2;

  &-container {
    width: 270px;
    display: grid;
    gap: 0;
    grid-auto-rows: 50px;
    padding-top: 50px;
    transition: 0.6s;
    background: #fafafa;
    overflow: hidden;
  }

  &-section {
    padding-inline: 5px 15px;
    height: 50px;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;

    &:last-of-type {
      height: 50px;
      grid-row: span 2;
      align-self: end;
      line-height: 50px;
    }

    &.active {
    background-color: #00000022;
    }

    &:hover {
      cursor: pointer;
      background-color: #0000001a;
    }
  }

  & label > .icon {
    transform: none;
  }
}

.logo-section {
  padding-inline: 5px 15px;
  height: 50px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  justify-content: center;
}

.logo {
  padding-inline: 5px 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 30px;
}
