@import 'animations';

.menu {
  @include dropdown;
  padding-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: menu;
  width: 100vw;
  padding: 15px;
  background: linear-gradient(0.1turn, #c0efa6, #71c639 45% 60%, #a7c4be);
  z-index: 2;

  &-container {
    width: 270px;
    height: min-content;
    display: grid;
    gap: 10px;
    padding: 15px;
    grid-template: repeat(3, 100px) / repeat(2, 1fr);
    align-content: center;
    transition: none;
    box-shadow: 0 0 3px 1px silver;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    right: 0;

    &.active {
      top: calc(100%);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-section {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-template-rows: 60px 20px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-out;

    &.active {
    background-color: #00000022;
    }

    &:hover {
      cursor: pointer;
      background-color: #0000001a;
    }
  }

  & label > .icon {
    transform: none;
  }
}

.logo-section {
  height: 45px;
  width: 45px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease-out;

  &:hover, &.active {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

.logo {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 30px;
}
