@import 'scrollbar';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  z-index: 3;

  &-active {
    display: block;
  }

  &.overlay-sidebar {
    background-color: #00000050;
    backdrop-filter: blur(0px);
    z-index: 2;
  }
}

.modal {
  display: grid;
  grid-auto-rows: auto;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: min(800px, 100vw - 3em);
  height: auto;
  // overflow-y: scroll;
  border-radius: 8px;
  background-color: var(--support-background-color);
  padding: 1em;
  transform: translate(-50%, -50%) scale(0);
  align-items: center;

  @media (max-width: 550px) {
    // width: calc(100% - 16px);
    width: calc(100% - 16px);
    // height: calc(100% - 16px);
    padding: 0.4em;

    & .button-default {
      padding: 8px 5px;
    }
  }

  &-active {
    transform: translate(-50%, -50%) scale(1);
  }

  &-stopwatch {
    @media (max-width: 400px) {
      height: 400px;
    }
  }

  &-onboarding.modal-mobile {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

    @media (max-width: 850px) {
      grid-template-rows: 25px 35px 80px 230px 40px;
    }

    @media (max-width: 700px) {
      grid-template-rows: 25px 60px 80px 230px 40px;
    }

    @media (max-width: 550px) {
      gap: 5px;
      grid-template-rows: 25px 60px 110px 230px 40px;
    }

    @media (max-width: 410px) {
      grid-template-rows: 25px 60px 130px 230px 40px;
    }

    @media (max-width: 365px) {
      grid-template-rows: 25px 80px 130px 265px 40px;
    }
  }

  &-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min(710px, 100% - 3em) 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &-details {
    @include scrollbar;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
    background-color: var(--support-background-color);
    padding: 10px;
    border-radius: 10px;

    @media (max-width: 550px) {
      padding: 5px;
      height: min-content;
    }
  }

  &-details-block {
    @include scrollbar;
    height: 100%;
    width: 100%;
    // overflow-y: scroll;
    background-color: var(--main-background-color);
    // padding: 5px;
    border-radius: 10px;

    &.description-area {
      grid-area: description;
    }

    &.mode-area {
      grid-area: mode;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.color-area {
      grid-area: color;
      display: flex;
      align-items: center;
    }
  }

  &-description {
    min-height: 300px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
  }
}

.modal-details-habit-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    'description mode'
    'description color';
}

.modal-details-project-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    'description color';
}

.form-field-length {
  display: none;
  position: absolute;
  right: 5px;
  font-size: 0.8em;
  bottom: -10px;

  &.error {
    display: block;
    color: var(--form-error-color);
  }
}

.form-task-name {
  padding: 5px 10px;
  height: min-content;
  white-space: nowrap;
  position: relative;

  & > input:focus ~ .form-field-length {
    display: block;
  }
}

.form-task-description {
  padding: 5px 0px 5px 10px;
  font-size: 0.9em;
  height: min-content;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;

  & > textarea {
    @include scrollbar;
  }

  & > textarea:focus ~ .form-field-length {
    display: block;
  }
}

.form-split {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.form-habits {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.form-chooser {
  height: min-content;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px 15px;
  background-color: var(--chooser-bg-color);
  border-radius: 10px;
  gap: 10px;
  transition: background-color 0.1s;
  cursor: pointer;

  &.add {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);

    &:hover {
      opacity: 0.9;
    }
  }

  &:hover {
    opacity: 0.9;

    & .habit-circle.to-delete {
      background-color: transparent;
      color: var(--signature-color);
    }
  }

  &.active {
    background-color: var(--transparent-bg-color);
  }
}
