@import 'scrollbar';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  z-index: 3;

  &-active {
    display: block;
  }

  &.overlay-sidebar {
    background-color: #00000050;
    backdrop-filter: blur(0px);
    z-index: 2;
  }
}

.modal {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: min(800px, 100vw - 3em);
  min-height: 600px;
  max-height: 650px;
  border-radius: 8px;
  background-color: var(--support-background-color);
  padding: 1em;
  transform: translate(-50%, -50%) scale(0);

  @media (max-width: 550px) {
    width: calc(100% - 16px);
    padding: 0.4em;

    & .button-default {
      padding: 8px 5px;
    }
  }

  &-active {
    transform: translate(-50%, -50%) scale(1);
  }

  &-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  &-details {
    @include scrollbar;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
    background-color: var(--main-background-color);
    padding: 10px;
    border-radius: 10px;

    @media (max-width: 550px) {
      padding: 5px;
    }
  }

  &-description {
    min-height: 300px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
  }
}

.form-task-name {
  padding: 5px 10px;
  height: min-content;
}

.form-task-description {
  padding: 5px 10px;
  font-size: 0.9em;
  height: min-content;
  display: flex;
  align-items: center;
  gap: 6px;
}

.form-split {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.form-habits {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.form-chooser {
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px 15px;
    background-color: var(--chooser-bg-color);
  border-radius: 10px;
  gap: 10px;
  transition: background-color 0.1s;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.active {
    background-color: var(--transparent-bg-color);
  }
}
