.delete-task-btn,
.close-modal-button {
  margin-left: auto;
  height: 25px;
  width: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  z-index: 3;

  &-active {
    display: block;
  }
}

.modal {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: min(800px, 100vw - 3em);
  min-height: 600px;
  border-radius: 8px;
  background-color: var(--support-background-color);
  padding: 1em;
  transform: translate(-50%, -50%) scale(0);

  &-active {
    transform: translate(-50%, -50%) scale(1);
  }

  &-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  &-details {
    height: 100%;
    width: 100%;
    background-color: var(--main-background-color);
    padding: 10px;
    border-radius: 10px;
  }

  &-description {
    min-height: 300px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
  }
}

.form-task-name {
  padding: 5px 10px;
  height: min-content;
}

.form-task-description {
  padding: 5px 10px;
  font-size: 0.9em;
  height: min-content;
  display: flex;
  align-items: center;
  gap: 6px;
}

.form-button {
  font-size: 80%;
  color: var(--button-text-color);
  background-color: var(--signature-color);
  padding: 10px 0px;
  border-radius: 7px;
  font-weight: bold;
  height: auto;
}

.form-button:hover {
  cursor: pointer;
}

#cancel-form-button {
  margin-left: auto;
  color: var(--support-color);
  background-color: var(--button-bg-color);
}
