$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;

.overview-controls {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.overview-container {
  direction: rtl;
  position: relative;
  overflow-y: hidden;
  height: max(200px, calc(50px + (18px + #{$cell-margin} * 2) * var(--projects)));
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: min(900px, 100%);
  padding-right: 5px;
  flex-direction: column;
}

.overview-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 5px;
}

.overview-loader {
  height: 250px;
  width: 100%;
}

.overview {
  width: min(100%, 890px);
  --multiplier: 1;
  position: absolute;
  display: grid;
  grid-template-rows: $cell-height $cell-height min-content;
  grid-template-columns: 65px min-content 200px;
  row-gap: 5px;

  .overview-months {
    direction: ltr;
    display: flex;
    grid-column: 2;
    grid-row: 1;

    &-month {
      width: 15px;
      line-height: 100%;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: 600;
      margin: $cell-margin;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }

  .overview-days {
    direction: ltr;
    display: inline-flex;
    flex-direction: row;
    grid-column: 2;
    grid-row: 2;

    &-day {
      line-height: 100%;
      font-size: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 *
          (var(--multiplier) - 1) + 1px
      );
      height: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 *
          (var(--multiplier) - 1)
      );
      width: 15px;
      font-weight: 600;
      border: 1px solid transparent;
      margin: $cell-margin;
      vertical-align: middle;
    }
  }

  .overview-projects {
    direction: ltr;
    grid-column: 3;
    grid-row: 3;
    display: grid;
    grid-template-rows: 17px;
    row-gap: 2px;

    .overview-project {
      display: grid;
      grid-template-columns: 200px 610px 75px;
      grid-template-rows: 17px;
      font-size: 15px;

      &-name {
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;
      }

      &-cells {
        height: 11px;
        display: flex;
      }

      &-controls {
        width: 100%;
        display: grid;
        grid-auto-columns: 18px;
        grid-auto-flow: column;
        grid-gap: 3px;
      }

      &-button {
        height: 18px;
        width: 18px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.overview-project-add {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30px 1fr;
  width: min(100%, 900px);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
