@import 'layout';

$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;

.contentlist {
  display: grid;
  justify-items: center;
  align-content: center;
  height: min-content;
  width: 100%;
  gap: 30px;
  padding: 30px;
}

.overview-controls {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.overview-container {
  --negate-margin-block: calc(2 - 2 * var(--vertical));
  direction: rtl;
  position: relative;
  overflow-y: hidden;
  padding-right: 5px;
  height: max(50px, calc(30px + 19px * var(--habits) * var(--multiplier) + 10px));
  width: min(calc(var(--length) * 19px) + 200px + 90px + 35px, 100%);

  &.vertical {
    height: calc(var(--length) * 19px + 360px);
    width: min(calc(50px + (17px + 2px) * var(--habits) * var(--multiplier) + 10px), 100%);
  }
}

.overview-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: min(calc(var(--length) * 19px) + 200px + 90px + 35px, 100%);
}

.overview-loader {
  height: 250px;
  width: 100%;
}

.overview {
  direction: ltr;
  --multiplier: 1;
  position: absolute;
  display: grid;
  grid-template-areas:
    'topbar-left months   topbar-right'
    'topbar-left days     topbar-right'
    'habits    habits habits';
  grid-template-rows: $cell-height 15px min-content;
  grid-template-columns: 200px calc(var(--length) * 19px) 115px;
  row-gap: 4px;

  &.vertical {
    grid-template-areas:
      'topbar-right topbar-right topbar-right'
      'topbar-left  topbar-left  habits'
      'months       days         habits'
      'move-right   move-right   habits';
    grid-template-rows: 30px 200px calc(var(--length) * 19px) 115px;
    grid-template-columns: 25px 15px min-content;
    gap: 3px;

    & > .heatmap-months,
    & > .overview-days {
      flex-direction: column;
    }

    & > .overview-topbar-left {
      align-items: end;
      padding-left: 0px;

      & > button {
        height: 25px;
      }
    }

    .overview-period-move-down {
      grid-area: move-right;
      margin-inline: auto;
      display: flex;
      align-items: start;
      margin-top: -5px;
      width: min-content;
    }

    & > .overview-habits {
      writing-mode: vertical-lr;
      overflow: hidden;
      padding-left: 5px;
      padding-top: 3px;

      & .overview-habit {
        &-cells {
          width: var(--cell-width);
          height: min-content;
        }

        &-name {
          padding-left: 0px;
        }
      }
    }
  }

  .overview-days {
    display: inline-flex;
    flex-direction: row;
    grid-area: days;

    &-day {
      line-height: 100%;
      font-size: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1) + 1px
      );
      text-align: center;
      padding-block: 2px;
      border-radius: 3px;
      height: 15px;
      width: 15px;
      font-weight: 600;
      margin: $cell-margin;
      vertical-align: middle;

      &.today {
        box-shadow: 0px 0px 4px 2px var(--signature-color);
        border-radius: 3px;
      }

      &.weekend {
        color: var(--bright-signature-color);
      }
    }
  }

  .overview-habits {
    grid-area: habits;
    display: grid;
    grid-template-rows: 17px;
    row-gap: 2px;

    .overview-habit {
      display: grid;
      grid-template-columns: 200px calc(var(--length) * 19px) 90px;
      font-size: 15px;

      &-name {
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;
      }

      &-button {
        height: 17px;
        width: 17px;
        outline: none;
        cursor: pointer;

        &:hover {
          color: var(--color);
        }
      }
    }
  }

  &-topbar-left {
    display: flex;
    padding-left: 35px;
    grid-area: topbar-left;
    justify-content: space-around;
  }

  &-topbar-right {
    display: flex;
    grid-area: topbar-right;
    gap: 2px;
  }

  &-year-move {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-period-button {
    width: min-content;
  }

  &-period-end {
    margin-left: auto;
    width: min-content;
    padding-top: 3px;
  }

  &-period-start {
    width: min-content;
    padding-top: 3px;
  }

  &-settings {
    width: min-content;
    margin-left: auto;
  }
}

.overview-habit-add {
  background-color: var(--secondary-background-color);
  border-top: 1px solid var(--border-color);
  border-radius: 0px 0px 10px 10px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  width: min(calc(var(--length) * 19px + 200px + 90px + 35px), 100%);
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.vertical {
    width: min(calc(50px + (17px + 2px) * var(--habits) + 10px), 100%);
  }
}

.overview-header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px 10px 0px 0px;
  display: grid;
  padding-inline: 5px;
  grid-template-areas: 'name date settings';
  grid-template-columns: 180px min-content 115px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: min(calc(var(--length) * 19px + 200px + 90px + 35px), 100%);

  &.vertical {
    width: min(calc(50px + (17px + 2px) * var(--habits) + 10px), 100%);
    @include overview-header-small;
  }

  &.small {
    @include overview-header-small;
  }

  & > h3 {
    grid-area: name;
    width: min-content;
    margin: auto;
  }
}

.overview-settings {
  grid-area: settings;
  display: flex;
  align-items: center;
  gap: 2px;

  .overview-open-settings.active {
    color: var(--bright-signature-color);

    &:hover {
      opacity: 0.5;
    }

    &[disabled] {
      opacity: 1;
    }
  }
}


.overview-habit-cells {
  height: var(--cell-height);
  display: flex;
  align-self: center;

  &.weekly {
    direction: ltr;
    grid-area: cells;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}
