$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;

.overview-controls {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.overview-container {
  direction: rtl;
  position: relative;
  overflow-y: hidden;
  height: max(200px, calc(30px + (17px + #{$cell-margin}) * var(--projects) * var(--multiplier) + 10px));
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: min(935px, 100%);
  padding-right: 5px;
  flex-direction: column;
}

.overview-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 5px;
}

.overview-loader {
  height: 250px;
  width: 100%;
}

.overview {
  --multiplier: 1;
  position: absolute;
  display: grid;
  grid-template-rows: $cell-height 15px min-content;
  grid-template-columns: 120px 608px 200px;
  row-gap: 4px;

  .overview-months {
    direction: ltr;
    display: flex;
    grid-column: 2;
    grid-row: 1;

    &-month {
      width: 15px;
      line-height: 100%;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: 600;
      margin: $cell-margin;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }

  .overview-days {
    direction: ltr;
    display: inline-flex;
    flex-direction: row;
    grid-column: 2;
    grid-row: 2;

    &-day {
      line-height: 100%;
      font-size: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1) + 1px
      );
      text-align: center;
      padding-block: 2px;
      border-radius: 3px;
      height: 15px;
      width: 15px;
      font-weight: 600;
      margin: $cell-margin;
      vertical-align: middle;

      &.today {
        box-shadow: 0px 0px 4px 2px var(--signature-color);
        border-radius: 3px;
      }

      &.weekend {
        color: var(--bright-signature-color);
      }
    }
  }

  .overview-projects {
    direction: ltr;
    grid-column: 3;
    grid-row: 3;
    display: grid;
    grid-template-rows: 17px;
    row-gap: 2px;

    .overview-project {
      display: grid;
      grid-template-columns: 200px 608px 90px;
      font-size: 15px;

      &-name {
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;
      }

      &-cells {
        height: var(--cell-height);
        display: flex;
        align-self: center;
      }

      &-controls {
        width: 100%;
        display: grid;
        align-items: center;
        align-self: center;
        padding-inline: 10px;
        grid-auto-columns: 17px;
        grid-auto-flow: column;
        grid-gap: 2px;
      }

      &-button {
        height: 17px;
        width: 17px;
        outline: none;
        cursor: pointer;

        &:hover {
          color: var(--color);
        }
      }
    }
  }

  &-topbar-left {
    padding-left: 35px;
    display: flex;
    grid-column: 3;
    grid-row: 1 / 3;
    direction: ltr;
    justify-content: space-around;
  }

  &-topbar-right {
    direction: ltr;
    display: flex;
    grid-column: 1;
    grid-row: 1 / 3;
  }

  &-year-move {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-period-move-left {
    width: min-content;
  }

  &-period-move-right {
    width: min-content;
    margin-right: auto;
  }

  &-period-end {
    width: min-content;
    padding-top: 3px;
  }

  &-period-start {
    margin-left: auto;
    width: min-content;
    padding-top: 3px;
  }
}

.overview-project-add {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30px 1fr;
  width: min(100%, 935px);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
