$cell-height: 11px;
$cell-width: 11px;
$cell-margin: 2px;

.overview-controls {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.overview-container {
  --negate-margin-block: calc(2 - 2 * var(--vertical));
  direction: rtl;
  position: relative;
  overflow-y: hidden;
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding-right: 5px;
  height: max(200px, calc(30px + 19px * var(--projects) * var(--multiplier) + 10px));
  width: min(calc(var(--length) * 19px) + 200px + 90px + 35px, 100%);

  &.vertical {
    height: calc(var(--length) * 19px + 360px);
    width: min(calc(50px + (17px + 2px) * var(--projects) * var(--multiplier) + 10px), 100%);
  }
}

.overview-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 5px;
}

.overview-loader {
  height: 250px;
  width: 100%;
}

.overview {
  --multiplier: 1;
  position: absolute;
  display: grid;
  // note that parent direction is rtl, that's why the right and left are swapped
  grid-template-areas:
    'topbar-right months   topbar-left'
    'topbar-right days     topbar-left'
    'projects     projects projects';
  grid-template-rows: $cell-height 15px min-content;
  grid-template-columns: 115px calc(var(--length) * 19px) 200px;
  row-gap: 4px;

  &.vertical {
    grid-template-areas:
      'topbar-right topbar-right topbar-right'
      'projects     topbar-left  topbar-left'
      'projects     days         months'
      'projects     move-right   move-right';
    grid-template-rows: 30px 200px calc(var(--length) * 19px) 115px;
    grid-template-columns: min-content 15px 25px;
    gap: 3px;

    & > .overview-months,
    & > .overview-days {
      flex-direction: column;
    }

    & > .overview-topbar-left {
      align-items: end;
      padding-left: 0px;

      & > button {
        height: 25px;
      }
    }

    .overview-period-move-down {
      grid-area: move-right;
      margin-inline: auto;
      display: flex;
      align-items: start;
      margin-top: -5px;
      width: min-content;
    }

    & > .overview-projects {
      writing-mode: vertical-lr;
      overflow: hidden;
      padding-left: 5px;
      padding-top: 3px;

      & .overview-project {
        &-cells {
          width: var(--cell-width);
          height: min-content;
        }

        &-name {
          padding-left: 0px;
        }
      }
    }
  }

  .overview-months {
    direction: ltr;
    display: flex;
    grid-area: months;

    &-month {
      width: 15px;
      height: 15px;
      line-height: 100%;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: 600;
      margin: $cell-margin;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }

  .overview-days {
    direction: ltr;
    display: inline-flex;
    flex-direction: row;
    grid-area: days;

    &-day {
      line-height: 100%;
      font-size: calc(
        #{$cell-height} * var(--multiplier) + #{$cell-margin} * 2 * (var(--multiplier) - 1) + 1px
      );
      text-align: center;
      padding-block: 2px;
      border-radius: 3px;
      height: 15px;
      width: 15px;
      font-weight: 600;
      margin: $cell-margin;
      vertical-align: middle;

      &.today {
        box-shadow: 0px 0px 4px 2px var(--signature-color);
        border-radius: 3px;
      }

      &.weekend {
        color: var(--bright-signature-color);
      }
    }
  }

  .overview-projects {
    direction: ltr;
    grid-area: projects;
    display: grid;
    grid-template-rows: 17px;
    row-gap: 2px;

    .overview-project {
      display: grid;
      grid-template-columns: 200px calc(var(--length) * 19px) 90px;
      font-size: 15px;

      &-name {
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;
      }

      &-cells {
        height: var(--cell-height);
        display: flex;
        align-self: center;
      }

      &-controls {
        width: 100%;
        display: grid;
        align-items: center;
        align-self: center;
        padding-inline: 3px;
        grid-auto-columns: 17px;
        grid-auto-flow: column;
        grid-gap: 2px;
      }

      &-button {
        height: 17px;
        width: 17px;
        outline: none;
        cursor: pointer;

        &:hover {
          color: var(--color);
        }
      }
    }
  }

  &-topbar-left {
    padding-left: 35px;
    display: flex;
    grid-area: topbar-left;
    direction: ltr;
    justify-content: space-around;
  }

  &-topbar-right {
    direction: ltr;
    display: flex;
    grid-area: topbar-right;
    gap: 2px;
  }

  &-year-move {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-period-move-left {
    width: min-content;
  }

  &-period-move-right {
    width: min-content;
    margin-right: auto;
  }

  &-period-end {
    margin-left: auto;
    width: min-content;
    padding-top: 3px;
  }

  &-period-start {
    width: min-content;
    padding-top: 3px;
  }

  &-settings {
    width: min-content;
    margin-left: auto;
  }
}

.overview-project-add {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  width: min(calc(var(--length) * 19px + 200px + 90px + 35px), 100%);
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.vertical {
    width: min(calc(50px + (17px + 2px) * var(--projects) + 10px), 100%);
  }
}

.overview-header {
  background-color: var(--main-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: grid;
  padding-inline: 5px;
  grid-template-areas: 'name date settings';
  grid-template-columns: 180px min-content 115px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: min(calc(var(--length) * 19px + 200px + 90px + 35px), 100%);

  &.vertical {
    width: min(calc(50px + (17px + 2px) * var(--projects) + 10px), 100%);
    grid-template-columns: 1fr min-content;
    grid-template-rows: 30px;
    grid-template-areas:
      'name settings'
      'date date';
    gap: 3px;
    padding-bottom: 5px;
  }

  & > h3 {
    grid-area: name;
    width: min-content;
    margin: auto;
  }
}

.overview-dates {
  direction: ltr;
  grid-area: date;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  box-shadow: 0px 0px 4px 2px var(--signature-color);
  border-radius: 6px;
  height: 20px;

  &-picker {
    width: 115px;
    font-size: 15px;
    cursor: pointer;
  }
}

.overview-settings {
  grid-area: settings;
}
