#content-project {
  height: 100%;
  display: grid;
  grid-template: 125px min-content 1fr / 5fr;
  background-color: #EFEFEF;

  & > div {
    align-self: stretch;
  }
}

.projectpage-header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
}

.project-overview {
  padding: 18px 36px 36px;
  width: min(980px, 100%);
  margin-inline: auto;
}
