@import 'dropdown';

.page-settings {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content 1fr;
  justify-items: center;
}

.settings-bar {
  background-color: var(--main-background-color);
  width: 100%;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  height: 50px;

  @media (max-width: 700px) {
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
  }

  @media (max-width: 400px) {
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr;
    height: 150px;
  }
}

.settings-type {
  height: min-content;
  padding: 0px 20px;
  width: min-content;

  @media (max-width: 700px) {
    padding: 10px;
  }
}

.settings {
  padding: 30px;
  padding-block: 20px;
  display: grid;
  width: min(900px, 100%);
  align-content: start;

  @media (max-width: 1000px) {
    padding: 15px;
  }
}

.settings-option {
  color: var(--support-text-color);
  display: grid;
  grid-template-areas: 'name chooser';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-block: 10px;
  row-gap: 5px;
  column-gap: 15px;

  &.theme .true {
    background-color: #2d3333;
    color: #bbb;
  }

  &.theme .false {
    background-color: white;
    color: black;
  }

  &.delete-account .button-default {
    background-color: red;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 900px) {
    grid-template-columns: 0.85fr 1fr;
  }

  @media (max-width: 800px) {
    grid-template-areas:
      'name'
      'chooser';
    grid-template-columns: 1fr;
    &.simple {
      grid-template-areas: 'name chooser';
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 400px) {
    &.simple {
      grid-template-areas: 'name'
      'chooser';
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  }
}

.settings-name {
  grid-area: name;
  align-self: top;
}

.settings-chooser {
  grid-area: chooser;
  flex: 1 0 0;
  display: flex;
  gap: 5px;
  align-items: stretch;
  height: 100%;

  & .button-default {
    height: 100%;

    @media (max-width: 400px) {
      padding: 8px 10px;
    }
  }
}

.settings-section {
  @include dropdown;
  @include dropdown-arrow;
  @include dropdown-collapse;

  &-header {
    margin-left: -8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-transform: capitalize;
  }
}

.modal-settings {
  width: 400px;
  min-height: 100px;
  height: 200px;
  grid-template-rows: 1fr 1fr;
}

.modal-footnote {
  color: var(--support-text-color);
  line-height: 1em;
}
