@import 'dropdown';

.page-settings {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content 1fr;
  justify-items: center;
}

.settings-bar {
  background-color: var(--main-background-color);
  width: 100%;
  display: flex;
  grid-auto-flow: column;
  justify-content: left;
}

.settings-type {
  padding: 15px;
  padding-inline: 20px;
  width: min-content;
}

.settings {
  padding: 30px;
  padding-block: 20px;
  display: grid;
  width: min(850px, 100%);
  align-content: start;
}

.settings-option {
  color: var(--support-text-color);
  display: flex;
  justify-content: space-between;
  width: min(900px, 100%);
  align-items: center;
  margin-block: 5px;

  &.theme .true {
    background-color: #2d3333;
    color: #bbb;
  }

  &.theme .false {
    background-color: white;
    color: black;
  }

  &.delete-account .button-default {
    background-color: red;
  }
}

.settings-name {
  width: 450px;
}

.settings-chooser {
  display: flex;
  gap: 5px;
  width: 350px;
}

.settings-section {
  @include dropdown;
  @include dropdown-arrow;
  @include dropdown-collapse;

  &-header {
    margin-left: -8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-transform: capitalize;
  }
}

.modal-settings {
  width: 400px;
  min-height: 100px;
  height: 200px;
  grid-template-rows: 1fr 1fr;
}

.modal-footnote {
  color: var(--support-text-color);
  line-height: 1em;
}
