.sidebar {
  grid-area: sidebar;
  width: 270px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  &-hidden {
    visibility: hidden;
    position: absolute;
  }

  & p {
    line-height: 20px;
  }
}

.projects,
.filters {
  display: grid;
  grid-auto-rows: 35px;
  gap: 3px;
  align-items: center;
  width: 100%;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin sidebar-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  line-height: 12px;
  gap: 10px;
  border-radius: 3px;

  &.active {
    background-color: #144e1233;
  }

  &:hover {
    cursor: pointer;
    background-color: #0000001a;
  }
}

.filter {
  @include sidebar-item;
  padding-inline: 10px;

  &.active.important {
    background-color: #ffd70033;
  }
}

.project {
  @include sidebar-item;
  padding: 10px;
}

.tag {
  @include sidebar-item;
  padding-inline: 10px 15px;
  background-color: silver;
  border-radius: 10px;

  &:hover {
    background-color: lightgrey;
  }
}

#dropdown-input {
  display: none;

  &:checked ~ .projects-container {
    top: calc(100%);
    visibility: visible;
    opacity: 1;
  }

  &:checked ~ .projects-header > .arrow {
    transform: none;
  }
}

.projects {
  position: relative;
}

.projects-container {
  display: grid;
  grid-auto-rows: 35px;
  gap: 3px;
  width: 100%;
  position: absolute;
  top: 80%;
  display: grid;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.arrow {
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  transform: rotate(90deg);
}
