@import 'animations';

.sidebar {
  grid-area: sidebar;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  transition: 1.5s;
  white-space: nowrap;
  overflow: hidden;

  &-hidden {
    visibility: hidden;
    position: absolute;
  }

  & p {
    line-height: 20px;
  }
}

.projects,
.filters {
  display: grid;
  grid-auto-rows: 35px;
  gap: 3px;
  align-items: center;
  width: 100%;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin sidebar-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  line-height: 12px;
  gap: 10px;
  border-radius: 3px;
  transition: background-color 0.3s;

  &.active {
    background-color: #144e1233;
  }

  &:hover {
    cursor: pointer;
    background-color: #0000001a;
  }
}

.filter {
  @include sidebar-item;
  padding-inline: 10px;

  &.active.important {
    background-color: #ffd70033;
  }
}

.project {
  @include sidebar-item;
  padding: 10px;
}

.tag {
  @include sidebar-item;
  padding-inline: 10px 15px;
  background-color: silver;
  border-radius: 10px;

  &:hover {
    background-color: lightgrey;
  }
}

.projects {
  @include dropdown;
}

.sidebar-mobile {
  height: 70px;
  position: fixed;
  visibility: hidden;
  bottom: 0;
  margin: 10px;
  width: calc(100% - 20px);
  border-radius: 35px;
  background-color: silver;
  box-shadow: 0 0 3px 1px grey;
  scroll-margin-top: 3rem;
  z-index: 1;
}

.filters-mobile {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.filter-mobile {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  transition: background-color 0.3s ease-out;

  &:hover, &.active {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
