@import 'dropdown';
@import 'scrollbar';

.sidebar {
  @include scrollbar;
  grid-area: sidebar;
  // background-color: #fafafa;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  // transition: 1.5s;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;

  & p {
    line-height: 20px;
  }
}

.filters {
  display: flex;
  height: 100%;
  align-items: center;
}

.sidebar-projects-header,
.sidebar-habits-header {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: center;

  & .add {
    margin-left: auto;
  }
}

.navigation {
  display: grid;
  grid-auto-rows: 35px;
  gap: 5px;

  &-section {
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 30px 60px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    padding-inline: 5px;
    outline: none;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: var(--transparent-bg-color);
    }
  }

  &-section-collapsed {
    display: grid;
    grid-template-rows: 25px 10px;
  }

  & .ribbon {
    visibility: hidden;
  }
}

@mixin sidebar-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  line-height: 12px;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;

  &.active,
  &:hover {
    background-color: var(--transparent-bg-color);
  }
}

.sidebar-project {
  @include sidebar-item;
  padding-left: 10px;
}

.filter {
  @include sidebar-item;
  padding-inline: 15px;

  &.active.important {
    background-color: #ffd70033;
  }
}

.habit {
  @include sidebar-item;
  padding-inline: 9px;
  height: 35px;
  margin-left: 13px;
  margin-block: 3px;
  gap: 20px;
  width: 207px;
  overflow: hidden;

  &.active,
  &:hover {
    background-color: var(--transparent-bg-color);
  }
}

.tag {
  @include sidebar-item;
  padding-inline: 10px 15px;
  background-color: var(--button-bg-color);
  border-radius: 10px;

  &:hover {
    background-color: var(--button-bg-lighter-color);
  }
}

.sidebar-projects {
  @include dropdown;
  @include dropdown-arrow;
  @include dropdown-collapse;

  &-container.active {
    gap: 5px;
    top: 40px;
  }
}

.sidebar-habits {
  @include dropdown;
  @include dropdown-arrow;
  @include dropdown-collapse;
  padding: 2px;

  &-header {
    gap: 5px;
    padding-left: 15px;
  }

  &-container.active {
    top: 40px;
  }
}

.sidebar-mobile {
  height: 70px;
  position: fixed;
  visibility: hidden;
  bottom: 0;
  margin: 10px;
  width: calc(100% - 20px);
  border-radius: 35px;
  background-color: silver;
  box-shadow: 0 0 3px 1px grey;
  scroll-margin-top: 3rem;
  z-index: 1;
}

.filters-mobile {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.filter-mobile {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  transition: background-color 0.3s ease-out;

  &:hover,
  &.active {
    background-color: var(--transparent-bg-color);
    cursor: pointer;
  }
}
