@import 'dropdown';

.sidebar {
  grid-area: sidebar;
  // background-color: #fafafa;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  // transition: 1.5s;
  white-space: nowrap;
  overflow: scroll;

  & p {
    line-height: 20px;
  }
}

.projects,
.filters {
  align-items: center;
  display: flex;
  align-items: center;
  height: 50px;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: grid;
  grid-auto-rows: 35px;
  gap: 5px;

  &-section {
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 30px 60px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    padding-inline: 5px;

    &.active, &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

  &-section-collapsed {
    display: grid;
    grid-template-rows: 25px 10px;
  }

  & .ribbon {
    visibility: hidden;
  }
}

@mixin sidebar-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  line-height: 12px;
  gap: 10px;
  border-radius: 3px;
  transition: background-color 0.3s;

  &.active {
    background-color: #144e1233;
  }

  &:hover {
    cursor: pointer;
    background-color: #0000001a;
  }
}

.filter {
  @include sidebar-item;
  padding-inline: 15px;

  &.active.important {
    background-color: #ffd70033;
  }
}

.project {
  @include sidebar-item;
  padding-inline: 15px;
}

.tag {
  @include sidebar-item;
  padding-inline: 10px 15px;
  background-color: silver;
  border-radius: 10px;
  width: min-content;

  &:hover {
    background-color: lightgrey;
  }
}

.projects {
  @include dropdown;

  &-arrow {
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    transform: rotate(90deg);

    &.active {
      transform: none;
    }
  }
}

.sidebar-mobile {
  height: 70px;
  position: fixed;
  visibility: hidden;
  bottom: 0;
  margin: 10px;
  width: calc(100% - 20px);
  border-radius: 35px;
  background-color: silver;
  box-shadow: 0 0 3px 1px grey;
  scroll-margin-top: 3rem;
  z-index: 1;
}

.filters-mobile {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.filter-mobile {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  transition: background-color 0.3s ease-out;

  &:hover, &.active {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
