@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.skilltree-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2px;
  background-color: var(--main-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: min(calc(var(--length) * 19px) + 200px + 90px + 35px, 100%);
}

.skill-node {
  margin: 20px;
  background-color: var(--main-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 100px;
  width: 200px;
  align-self: center;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

  & > h3 {
    z-index: 1;
  }

  &.in-progress {
    border: none;
    height: 108px;
    width: 208px;
    margin-inline: 16px;
    padding: 4px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: repeating-conic-gradient(
        from var(--a),
        var(--shadow-box-color) 0%,
        var(--shadow-box-color) 5%,
        transparent 5%,
        transparent 20%,
        var(--shadow-box-color) 50%
      );
      filter: blur(2px);
      animation: animate 6s linear infinite;
      animation-delay: -4s;
      border-radius: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 4px;
      background: var(--main-background-color);
      border-radius: 10px;
      border: 1px solid var(--border-color);
    }
  }

  &.completed {
    box-shadow: 0 0 5px 3px var(--shadow-box-color);
  }

  &:hover {
    .skill-node-controls-right,
    .skill-node-controls-bottom {
      display: flex;
    }
  }
}

.skill-segment {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.skill-node-controls-bottom {
  position: absolute;
  bottom: -30px;
  left: 0;
  padding: 8px;
  display: none;
  gap: 5px;
  width: 100%;
  justify-content: center;
  z-index: 1;

  & > button {
    width: min-content;
  }
}

.skill-node-controls-right {
  position: absolute;
  top: 0px;
  right: -30px;
  padding: 8px;
  height: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  &.offseted {
    top: 20px;
  }
}

.skills {
  display: grid;
  justify-content: start;
  align-items: center;
  height: max(50px, calc(30px + 140px * var(--height) - 20px));
  width: calc(var(--width) * 250px);
  // width: min(calc(var(--length) * 19px) + 200px + 90px + 35px, 100%);
}

.overview-open-settings {
  &:disabled {
    opacity: 0.4;
  }
}
