.skill-node {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 100px;
  width: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 3px var(--shadow-box-color);
}

.skills {
  display: grid;
  justify-content: start;
  align-items: center;
  height: max(50px, calc(30px + 19px * var(--habits) * var(--multiplier) + 10px));
  width: min(calc(var(--length) * 19px) + 200px + 90px + 35px, 100%);
  padding: 20px;
}
