@import 'dropdown';

.stopwatch {
  position: sticky;
  bottom: 0;
  gap: 10px;
  grid-area: stopwatch;
  background-color: var(--main-background-color);
  z-index: 2;
  height: 60px;
  width: 100%;
}

.progressbar {
  width: 100%;
  height: 10px;
  background-color: var(--progressbar-bg-color);
  position: relative;

  &-progress {
    background-color: cyan;
    opacity: 0.7;
    height: 10px;
    display: flex;
    align-items: center;

    &-countdown {
      color: var(--contrast-color);
      font-size: 13px;
      line-height: 11px;
      height: 13px;
      font-weight: 900;
      top: 0px;
      position: absolute;

      &.time {
        left: 8px;
      }

      &.time-left {
        right: 8px;
      }
    }
  }
}

.progressbar-controls {
  color: var(--text-color);
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  padding-right: 5px;
}

.progressbar-text {
  padding-left: 15px;
}

.stopwatch-icon {
  color: var(--text-color);
  transition:
    all 0.3s ease-out,
    color 0s;
}
