:root.light {
  --signature-color: #144e12;
  --calm-signature-color: #43D64E;
  --support-color: black;
  --main-background-color: white;
  --support-background-color: #efefef;
  --text-color: black;
  --contrast-text-color: white;
  --gradient-color-1: #c0efa6;
  --gradient-color-2: #71c639;
  --gradient-color-3: #a7c4be;
}

:root.dark {
  --signature-color: #00C4CD;
  --calm-signature-color: #008187;
  --support-color: white;
  --main-background-color: #2D3333;
  --support-background-color: #1c2128;
  --text-color: #bbb;
  --contrast-text-color: black;
  --gradient-color-1: #009096; // cyan seems to be distractive
  --gradient-color-2: #1c2128;
  --gradient-color-3: #009096;
}
