:root.light {
  color-scheme: light;
  --signature-color: #144e12;
  --bright-signature-color: #43d64e;
  --signature-color-transparent: #144e1233;
  --calm-signature-color: #A8ECAD;
  --form-error-color: #D41A00;
  --support-color: black;
  --main-background-color: white;
  --secondary-background-color: #f6f8fa;
  --chooser-bg-color: #f6f8fa;
  --support-background-color: #efefef;
  --blank-cell-color: #e2e2e2;
  --blank-cell-color-rgb: rgb(239, 239, 239);
  --cell-shadow-color: transparent;
  --text-color: black;
  --text-color-transparent: #00000050;
  --support-text-color: #606060;
  --contrast-text-color: white;
  --gradient-color-1: #c0efa6;
  --gradient-color-2: #71c639;
  --gradient-color-3: #a7c4be;
  --bamboo: url('../assets/neohabit-background.png');
  --auth-heatmap: url('../assets/heatmap.png');
  --mini-logo: url('../logos/neohabit-mini-logo.png');
  --transparent-bg-color: #b0b0b0aa;
  --registration-field-active-bg-color: #88cd6f;
  --registration-field-bg-color: #8ec07c;
  --cell-border-color: rgba(0, 0, 0, 0.7);
  --transparent-bg-color: rgba(0, 0, 0, 0.2);
  --button-text-color: #f9faf8;
  --button-bg-color: #bbb;
  --button-bg-lighter-color: #ddd;
  --border-color: #bbb;
  --important-border-color: #888;
  --progressbar-bg-color: #ccc;
  --datepicker-triangle-color: #bbb;
  --datepicker-text-color: white;
  --negate-margin-block: 0px;
  --multiplier: 1;
}

:root.light-neon {
  --signature-color: #00A649;
  --gradient-color-1: #94FFC3;
  --gradient-color-2: #5FFF84;
  --gradient-color-2: #34FF63;
  --bamboo: url('../assets/neohabit-background-lightish-green.png');
  // --gradient-color-2: #57dc76;
  // --gradient-color-2: #10d065;
}

:root {
  color-scheme: dark;
  --signature-color: #00c4cd;
  --bright-signature-color: #00c4cd;
  --signature-color-transparent: #00c4cd33;
  --calm-signature-color: #008187;
  --form-error-color: #FF0F0F;
  --support-color: white;
  --main-background-color: #2d3333;
  --secondary-background-color: #22272e;
  --chooser-bg-color: #444;
  --support-background-color: #1c2128;
  --blank-cell-color: #242424;
  --blank-cell-color-rgb: rgb(36, 36, 36);
  --cell-shadow-color: #3c3c3c;
  --text-color: #bbb;
  --text-color-transparent: #bbbbbb70;
  --support-text-color: #999;
  --contrast-text-color: black;
  --gradient-color-1: #009096; // cyan seems to be distractive
  --gradient-color-2: #1c2128;
  --gradient-color-3: #009096;
  --bamboo: url('../assets/neohabit-background-dark.png');
  --auth-heatmap: url('../assets/heatmap-dark.png');
  --mini-logo: url('../logos/neohabit-mini-logo-dark2.png');
  --transparent-bg-color: #404040aa;
  --registration-field-active-bg-color: #009ba2;
  --registration-field-bg-color: #2d3333;
  --cell-border-color: rgba(255, 255, 255, 0.7);
  --transparent-bg-color: rgba(0, 0, 0, 0.3);
  --button-text-color: #f9faf8;
  --button-bg-color: #545454;
  --button-bg-lighter-color: #777;
  --border-color: #666;
  --important-border-color: #777;
  --progressbar-bg-color: #454545;
  --datepicker-triangle-color: #888;
  --datepicker-text-color: black;
  --negate-margin-block: 0px;
  --multiplier: 1;
}
