:root.light {
  --signature-color: #144e12;
  --signature-color-transparent: #144e1233;
  --calm-signature-color: #43D64E;
  --support-color: black;
  --main-background-color: white;
  --support-background-color: #efefef;
  --text-color: black;
  --support-text-color: #474747;
  --contrast-text-color: white;
  --gradient-color-1: #c0efa6;
  --gradient-color-2: #71c639;
  --gradient-color-3: #a7c4be;
  --bamboo: url('../assets/neohabit-background.png');
  --auth-heatmap: url('../assets/heatmap.png');
  --transparent-bg-color: #b0b0b0aa;
  --registration-field-active-bg-color: #88cd6f;
  --registration-field-bg-color: #8ec07c;
  --cell-border-color: rgba(0, 0, 0, 0.7);
  --button-text-color: #f9faf8;
  --button-bg-color: #bbb;
  --button-bg-lighter-color: #ddd;
  --border-color: #bbb;
  --progressbar-bg-color: #ccc;
}

:root {
  --signature-color: #00C4CD;
  --signature-color-transparent: #00C4CD33;
  --calm-signature-color: #008187;
  --support-color: white;
  --main-background-color: #2D3333;
  --support-background-color: #1c2128;
  --text-color: #bbb;
  --support-text-color: #858585;
  --contrast-text-color: black;
  --gradient-color-1: #009096; // cyan seems to be distractive
  --gradient-color-2: #1c2128;
  --gradient-color-3: #009096;
  --bamboo: url('../assets/neohabit-background-dark.png');
  --auth-heatmap: url('../assets/heatmap-dark.png');
  --transparent-bg-color: #404040aa;
  --registration-field-active-bg-color: #009BA2;
  --registration-field-bg-color: #2D3333;
  --cell-border-color: rgba(255, 255, 255, 0.7);
  --button-text-color: #f9faf8;
  --button-bg-color: #545454;
  --button-bg-lighter-color: #777;
  --border-color: #999;
  --progressbar-bg-color: #454545;
}
