@font-face {
  font-family: 'Poppins-header';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: 'Poppins-medium', sans-serif;
  font-size: 1.05em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background-color: #efefef;
}

#content > div {
  align-self: stretch;
}

.menu {
  padding-block: 15px;
  background: linear-gradient(0.1turn, #c0efa6, #71c639 45% 60%, #a7c4be);
  display: grid;
  grid-auto-rows: 50px;
  align-items: center;
}

.menu-section {
  padding-inline: 5px 15px;
  height: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.menu-section:last-of-type {
  height: 50px;
  grid-row: span 2;
  align-self: end;
  line-height: 50px;
}

.menu-section.active {
  background-color: #00000022;
}

.icon {
  height: 30px;
  width: 30px;
  justify-self: center;
}

.logo {
  padding-inline: 5px 15px;
  font-family: 'Poppins-header', sans-serif;
  font-size: 1.7em;
  justify-self: center;
  align-self: start;
  line-height: 50px;
  grid-row: span 2;
}

.sidebar {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.sidebar p {
  line-height: 20px;
}

.projects {
  display: grid;
  grid-auto-rows: 35px;
  gap: 3px;
  align-items: center;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project,
.tag {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  border-radius: 3px;
}

.project {
  padding: 10px;
}

.tag {
  padding-inline: 10px 15px;
  background-color: silver;
  border-radius: 10px;
}

.tag:hover {
  background-color: lightgrey;
}

.filter-sections {
  display: grid;
  grid-auto-rows: 40px;
  align-items: center;
  gap: 5px;
}

.filter-section {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  gap: 10px;
  padding-inline: 10px;
}

.filter-section:hover,
.project:hover,
.menu-section:hover {
  cursor: pointer;
  background-color: #0000001a;
}

.important.active {
  background-color: #ffd70033;
}

.active {
  background-color: #144e1233;
}

.active:hover {
  background-color: #144e1233;
}

.centering {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 20px;
  width: 20px;
}

.project-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.editor-header {
  display: flex;
  flex-direction: row;
  padding: 55px 36px 0;
  margin-inline: auto;
  width: min(800px, 100%);
}

.editor-list {
  padding: 0 36px;
  margin-inline: auto;
  width: min(800px, 100%);
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.task {
  min-height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 15px;
  gap: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
}

.task:hover {
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid green;
}

button {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  height: 30px;
  border: 1px solid silver;
}

.editor-add-button {
  width: min(800px, 100%);
  padding: 10px 36px;
  margin-inline: auto;
}

.add-task-btn {
  padding-inline: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
}

.add-task-btn:hover {
  cursor: pointer;
}

.add-task-icon {
  height: 20px;
  width: 20px;
  transform: scale(1.3);
}

.neohabit:before {
  color: #144e12;
  content: 'neo';
}

.neohabit:after {
  color: black;
  content: 'habit';
}

.delete-task-btn,
.close-task-btn {
  min-height: 30px;
  min-width: 30px;
  margin-left: auto;
  transform: rotate(45deg);
}

.delete-task-btn:hover,
.close-task-btn:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);
}

.overlay-active {
  display: block;
}

.modal {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: min(800px, 100vw - 3em);
  min-height: 600px;
  border-radius: 8px;
  background-color: #efefef;
  padding: 1em;
  transform: translate(-50%, -50%) scale(0);
}

.modal-active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-details {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.modal-description {
  min-height: 300px;
}

textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 5px 10px;
  margin: 0;
  border: none;
  outline: none;
}

.form-task-name {
  height: min-content;
  outline: none;
}

.form-task-description {
  font-size: 0.9em;
  height: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 40px;
}

.form-button {
  outline: none;
  appearance: none;
  font-size: 80%;
  box-sizing: border-box;
  padding: 5px;
  color: #f9faf8;
  background-color: #144e12;
  border: 1px solid #144e12;
  padding: 10px 32px;
  border: 3px white;
  border-radius: 7px;
  font-weight: bold;
  height: auto;
  max-width: 200px;
}

.form-button:hover {
  cursor: pointer;
}

#cancel-form-button {
  margin-left: auto;
  color: black;
  background-color: silver;
}
