@font-face {
  font-family: 'Poppins-header';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: 'Poppins-medium', sans-serif;
  font-size: 1.05em;
}

#content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background-color: #efefef;
}

#content > div {
  align-self: stretch;
}

.menu {
  padding: 15px 15px 15px 5px;
  background: linear-gradient(0.1turn, #c0efa6, #71c639 45% 60%, #a7c4be);
  display: grid;
  grid-auto-rows: 50px;
  align-items: center;
}

.menu-section {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
  justify-self: center;
}

.logo {
  font-family: 'Poppins-header', sans-serif;
  font-size: 1.7em;
  justify-self: center;
}

.sidebar {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.sidebar p {
  line-height: 20px;
}

.projects {
  display: grid;
  grid-auto-rows: 40px;
  align-items: center;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.task-sections {
  display: grid;
  grid-auto-rows: 40px;
  align-items: center;
}

.task-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.centering {
  display: grid;
  justify-items: center;
  align-content: center;
}

.editor-header {
  display: flex;
  flex-direction: row;
  padding: 55px 36px 0;
  margin-inline: auto;
  width: min(800px, 100%);
}

.editor-list {
  padding: 0 36px;
  margin-inline: auto;
  width: min(800px, 100%);
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.task {
  min-height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 15px;
  gap: 15px;
  border: 1px solid #bbbbbb;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid green;
  background-color: #eee;
}

.new-task-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.new-task-btn:hover {
  cursor: pointer;
}
