@font-face {
  font-family: 'Poppins-header';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: 'Poppins-medium', sans-serif;
  font-size: 1.05em;
}

body {
  min-height: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  border: none;
}

button {
  display: block;
  height: 30px;
  border: 1px solid silver;
}

textarea {
  display: block;
  resize: none;
  padding: 5px 10px;
}

#content {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'menu    editor'
    'sidebar editor';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 270px 1fr;
  background-color: #efefef;
}

#content.content-toggle {
  grid-template-areas:
    'menu editor'
    'menu editor';
}

.menu {
  padding-bottom: auto;
  grid-area: menu;
  width: 270px;
  padding-block: 15px;
  background: linear-gradient(0.1turn, #c0efa6, #71c639 45% 60%, #a7c4be);

  &-dropdown {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: grid;
    grid-auto-rows: 50px;
    align-items: center;
    padding: 50px 0 0;
    transition: 0.6s;

    &-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &-section {
    padding-inline: 5px 15px;
    height: 50px;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;

    &:last-of-type {
      height: 50px;
      grid-row: span 2;
      align-self: end;
      line-height: 50px;
    }

    &.active {
    background-color: #00000022;
    }
  }
}

#menu-button:hover {
  cursor: pointer;
}

.logo-section {
  padding-inline: 5px 15px;
  height: 50px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 30px;
  width: 30px;
  justify-self: center;

  &:hover {
    cursor: pointer;
  }
}

.delete-task-btn,
.close-modal-button {
  margin-left: auto;
  transform: rotate(45deg);
}

.logo {
  padding-inline: 5px 15px;
  font-family: 'Poppins-header', sans-serif;
  font-size: 1.7em;
  line-height: 30px;
}

.sidebar {
  grid-area: sidebar;
  width: 270px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  &-hidden {
    visibility: hidden;
    position: absolute;
  }

  & p {
    line-height: 20px;
  }
}

.projects {
  display: grid;
  grid-auto-rows: 35px;
  gap: 3px;
  align-items: center;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-sections {
  display: grid;
  grid-auto-rows: 40px;
  align-items: center;
  gap: 5px;
}


.filter-section:hover,
.project:hover,
.menu-section:hover {
  cursor: pointer;
  background-color: #0000001a;
}

.project,
.tag {
  height: 100%;
  line-height: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  border-radius: 3px;
}

.filter-section {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  gap: 10px;
  padding-inline: 10px;

  &.active {
    background-color: #144e1233;

    &.important {
      background-color: #ffd70033;
    }
  }
}

.project {
  padding: 10px;
}

.tag {
  padding-inline: 10px 15px;
  background-color: silver;
  border-radius: 10px;

  &:hover {
    background-color: lightgrey;
  }
}

.centering {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 20px;
  width: 20px;
}

.project-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.editor {
  grid-area: editor;
  padding: 55px 36px 55px;
  width: min(800px, 100%);
  margin-inline: auto;

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-list {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
  }

  &-add-button {
    padding-top: 10px;
  }
}

@mixin editor-list-item {
  padding-inline: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
}

.task {
  @include editor-list-item;
  min-height: 50px;
  background-color: white;
  flex-direction: row;
  gap: 15px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
}

.add-task-btn {
  @include editor-list-item;

  &:hover {
    cursor: pointer;
  }
}

.add-task-icon {
  width: 20px;
  height: 20px;
  transform: scale(1.3);
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid green;
}

.neohabit {
  content: '';

  &:before {
    color: #144e12;
    content: 'neo';
  }

  &:after {
    color: black;
    content: 'habit';
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  backdrop-filter: blur(10px);

  &-active {
    display: block;
  }
}

.modal {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: min(800px, 100vw - 3em);
  min-height: 600px;
  border-radius: 8px;
  background-color: #efefef;
  padding: 1em;
  transform: translate(-50%, -50%) scale(0);

  &-active {
    transform: translate(-50%, -50%) scale(1);
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-details {
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
  }

  &-description {
    min-height: 300px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
  }
}

.form-task-name {
  height: min-content;
  outline: none;
}

.form-task-description {
  font-size: 0.9em;
  height: 100%;
}

.form-button {
  font-size: 80%;
  color: #f9faf8;
  background-color: #144e12;
  padding: 10px 32px;
  border-radius: 7px;
  font-weight: bold;
  height: auto;
  max-width: 200px;
}

.form-button:hover {
  cursor: pointer;
}

#cancel-form-button {
  margin-left: auto;
  color: black;
  background-color: silver;
}
