openapi: '3.0.0'
info:
  version: 0.0.0
  title: Neohabit API
  description: |
    REST API for Neohabit's backend, rewritten in go
servers:
  - url: http://localhost:8080

tags:
  - name: Auth
  - name: Habits
  - name: Projects
  - name: Skilltrees
  - name: Tasks
  - name: Settings
  - name: Stopwatch

paths:
  /signup:
    post:
      summary: Create a new account
      operationId: signup
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ username, password ]
              properties:
                username:
                  type: string
                  minLength: 1
                  maxLength: 32
                  example: "Vsein"
                password:
                  type: string
                  maxLength: 100
      responses:
        '201':
          description: New user created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '409':
          description: Username already exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /login:
    post:
      summary: Login into existing account
      operationId: login
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ username, password ]
              properties:
                username:
                  type: string
                  minLength: 1
                  maxLength: 32
                  example: "Vsein"
                password:
                  type: string
                  maxLength: 100
      responses:
        '200':
          description: Logged in successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: User not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /habits:
    get:
      summary: List habits
      operationId: listHabits
      tags: [Habits]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully fetched user's habits
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Habit'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /habit:
    post:
      summary: Create habit
      operationId: createHabit
      tags: [Habits]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ name, description ]
              properties:
                name:
                  $ref: '#/components/schemas/Name'
                description:
                  $ref: '#/components/schemas/Description'
                color:
                  $ref: '#/components/schemas/Color'

      responses:
        '201':
          description: Habit created successfully
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid request data
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401':
          description: Unauthorized
        '409':
          description: Habit already exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /projects:
    get:
      summary: List projects
      operationId: listProjects
      tags: [Projects]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully fetched user's projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /settings:
    get:
      summary: Returns user's settings
      operationId: getSettings
      tags: [Settings]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully fetched user's settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /stopwatch:
    get:
      summary: Returns user's stopwatch
      operationId: getStopwatch
      tags: [Stopwatch]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully fetched user's stopwatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Name:
      type: string
      maxLength: 150
      description: Activity name
      example: "Sample activity (project, habit, skill)"

    Description:
      type: string
      maxLength: 3000
      description: Activity description
      example: "This is a sample activity"

    Color:
      type: string
      maxLength: 50
      example: "#23BCDB"

    Date:
      type: string
      format: date-time

    DateInt:
      type: integer
      format: int64
      description: Unix timestamp (milliseconds)
      example: 1609459200000

    User:
      type: object
      required:
        - id
        - username
      properties:
        id:
          type: string
        username:
          type: string
        password:
          type: string
        verified:
          type: boolean
        verificationAttempts:
          type: integer
          format: uint8
        verificationTime:
          $ref: '#/components/schemas/Date'
        createdAt:
          $ref: '#/components/schemas/Date'
        updatedAt:
          $ref: '#/components/schemas/Date'

    Habit:
      type: object
      required:
        - id
        - userID
        - name
      properties:
        ID:
          type: string
        userID:
          type: string
        name:
          $ref: '#/components/schemas/Name'
        description:
          $ref: '#/components/schemas/Description'
        color:
          $ref: '#/components/schemas/Color'
        dueDate:
          $ref: '#/components/schemas/Date'
        createdAt:
          $ref: '#/components/schemas/Date'
        updatedAt:
          $ref: '#/components/schemas/Date'

    HeatmapData:
      type: object
      required:
        - date
        - value
      properties:
        Date:
          $ref: '#/components/schemas/Date'
        Value:
          type: integer
          format: uint8
          description: "How many times the activity was completed this day"

    HeatmapTarget:
      type: object
      required:
        # add fields from the entity
        - date
        - value
        - period
        - isArchive
      properties:
        Date:
          $ref: '#/components/schemas/Date'
        Value:
          type: integer
          format: uint8
          description: "How many times the activity has to be completed in the specified Period"
          example: 2
        Period:
          type: integer
          format: uint8
          description: "How many days you have to complete the activity"
          example: 1
        IsArchive:
          type: boolean

    Heatmap:
      type: object
      required:
        - id
        - userID
        - name
      properties:
        id:
          type: string
        userID:
          type: string
        habitID:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/HeatmapData'
        targets:
          type: array
          items:
            $ref: '#/components/schemas/HeatmapTarget'
        createdAt:
          $ref: '#/components/schemas/Date'
        updatedAt:
          $ref: '#/components/schemas/Date'

    Project:
      type: object
      required:
        - id
        - userID
        - name
      properties:
        id:
          type: string
        userID:
          type: string
        name:
          $ref: '#/components/schemas/Name'
        description:
          $ref: '#/components/schemas/Description'
        color:
          $ref: '#/components/schemas/Color'
        habitIDs:
          type: array
          items:
            type: string
        createdAt:
          $ref: '#/components/schemas/Date'
        updatedAt:
          $ref: '#/components/schemas/Date'

    Stopwatch:
      type: object
      required:
        - id
        - userID
        - isInitiated
      properties:
        id:
          type: string
        userID:
          type: string
        habitID:
          type: string
        isAnitiated:
          type: boolean
        startTime:
          $ref: '#/components/schemas/Date'
        duration:
          type: integer
          format: int64
          description: Stopwatch duration in milliseconds
        isPaused:
          type: boolean
        pauseDuration:
          type: integer
          format: int64
          description: Stopwatch pause duration in milliseconds
        createdAt:
          $ref: '#/components/schemas/Date'
        updatedAt:
          $ref: '#/components/schemas/Date'

    Settings:
      type: object
      required:
        - id
        - userID
      properties:
        id:
          type: string
        userID:
          type: string
        theme:
          type: string
          enum: ["dark", "light"]
        readSettingsFromConfigFile:
          type: boolean
        cellHeightMultiplier:
          type: integer
          format: uint8
        cellWidthMultiplier:
          type: integer
          format: uint8
        overviewVertical:
          type: boolean
        overviewCurrentDay:
          type: string
          enum: ["end", "middle", "start"]
        overviewOffset:
          type: integer
          format: uint8

        # Want to deprecate
        overviewDuration:
          type: integer
          format: uint8
        overviewApplyLimit:
          type: boolean
        overviewDurationLimit:
          type: integer
          format: uint8
        #######################

        allowHorizontalScrolling:
          type: boolean

        # Want to deprecate
        habitHeatmapsOverride:
          type: boolean
        habitHeatmapsCurrentDay:
          type: integer
          format: uint8
        #######################

        showStopwatchTimeInPageTitle:
          type: boolean
        hideCellHint:
          type: boolean
        hideOnboarding:
          type: boolean
        createdAt:
          $ref: '#/components/schemas/Date'
        updatedAt:
          $ref: '#/components/schemas/Date'

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message
          example: "Habit not found"
